
/*
* Notify Group
*/
notify-gp {
    font: 300 14px -apple-system, PingFang SC, Microsoft Yahei, Lantinghei SC, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

    display: -webkit-flex;
    flex-flow: column nowrap;
    align-items: flex-end;

    position: fixed;

    top: 0;
    right: 0;

    margin: 0 15px 0 0;
    padding: 0;

    text-transform: none;

    pointer-events: none;
}

notify-gp notify {
    display: -webkit-flex;
    align-items: center;

    margin: 0;
    margin-top: 15px;
    padding: 14px 24px;

    min-width: 288px;
    max-width: 568px;

    /*height: 48px;
    max-height: 48px;*/
    min-height: 48px;

    color: rgba(255, 255, 255, 0.9);
    background-color: #000;

    box-sizing: border-box;
    border-radius: 4px;
    pointer-events: auto;
    user-select: none;

    opacity: 0;
    transform: scaleY(0);
    transform-origin: left top 0px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;

    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

notify-gp notify-title {
    font-size: 13px;
    font-weight: bold;
}

notify-gp notify-content {
    display: block;

    font-size: 14px;
    font-weight: 400;
    text-align: left;

    overflow: hidden;
    /*text-overflow: ellipsis;
    white-space: nowrap;*/
}

notify-gp notify-content a,
notify-gp notify-content a:link,
notify-gp notify-content a:visited,
notify-gp notify-content a:active {
    margin: inherit;
    padding-bottom: 5px;

    color: #fff;
    font-size: inherit;

    text-decoration: none;

    transition: color .5s;
}

notify-gp notify-content a:hover {
    margin: initial;
    padding: initial;

    color: inherit;
    font-size: inherit;

    text-decoration: none;
}

notify-gp notify-i {
    display: none;
    justify-content: center;
    align-items: center;

    margin: 0 10px 0 0;

    width: 24px;
    height: 24px;

    background-position: center;
    background-repeat: no-repeat;
}

notify-gp notify-action,
notify-gp notify-cancel {
    display: none;

    margin: 0 8px;

    max-width: 80px;
    min-width: 56px;
    height: 36px;
    line-height: 34px;

    color: #bb86fc;

    font-weight: 500;
    font-size: inherit;
    text-transform: uppercase;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    cursor: pointer;
}

notify-gp notify-action:active,
notify-gp notify-cancel:active {
    border-radius: 4px;
    background-color: rgba(98, 0, 238, .3);
}

notify-gp notify-cancel {
    margin: 0;
}

notify-gp notify-a {
    display: block;
    position: absolute;

    top: 5px;
    right: 5px;

    cursor: pointer;
}

notify-gp notify-exit {
    display: none;
    justify-content: center;
    align-items: center;

    margin-left: 5px;

    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;

    background-color: transparent;

    border-radius: 50%;
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    cursor: pointer;
}

notify-gp notify-exit:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

notify-gp notify-exit:active {
    background-color: rgba(255, 255, 255, 0.2);
}

notify-gp notify-a notify-span {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABDklEQVQ4T6VT0VFCQQzcrQA7ECoRK1AqEDugA6ECsQPsADvgVSAlaAlWEGdvkjchczI45Osud9nc7m2IEmY2BfAEYA5A6xsARwAHAB8ktR6DeWNmKwAvXlSxY78i+RabEcDM9gAe/qoq+T3JhXINwDu/Xlgc1zYk13TOn+XZA4C7AvgN4LbkZgJYO+84O5C8N7Odi6n8O8llh+ZGAD3uO5LPDgIvzoDRbBDAV+dputBAXKNecQM5B9CefQlAj0JwVmdLdGSwHI1CFXEgOS8ihia1WRNRdpU9JwlatpWVc0gr3c0xu95IAfdPK2uoHkcrJxANkzTJdPKTf3ROchvJk2n0LxNPfV9vnDVEJ+P8C6jMhLeGEqMKAAAAAElFTkSuQmCC);
    opacity: .9;
}

notify-gp notify-i.holdon {
    display: block;
    margin: 0 0 0 24px;

    width: 20px;
    height: 20px;

    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAQAAAAngNWGAAAATUlEQVR4AWMYSuB/4P+V/1lRRFiBIoEYCoGC//+vAypFKFsHFFkJV4AsAVGKzsOjFFUZHqUElCGUwpRRrpCw1YQ9Qzh4SA5wwlE4hAAAiFGQefYhNJkAAAAASUVORK5CYII=);
    cursor: pointer;
}

notify-gp .notify-show {
    opacity: 1;
    transform: scaleY(1)!important;
}

notify-gp .notify-hide {
    animation-name: fadeOutUp;
    animation-duration: 450ms;
    animation-fill-mode: both;
}

notify-gp .notify-success {
    background-color: rgb(76, 175, 80);
}

notify-gp .notify-warning {
    background-color: rgb(255, 160, 0);
}

notify-gp .notify-error {
    background-color: rgba(239, 83, 80, 1);
}

notify-gp .notify-info {
    background-color: rgb(25, 118, 210);
}

notify-gp .notify-modal {
    flex-flow: column nowrap;
    align-items: flex-start;

    height: auto;
    max-height: 200px;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

notify-gp .notify-modal .notify-modal-content {
    margin-top: 5px;
    font-size: 13px;
    white-space: normal;
}

notify-gp .notify-modal .notify-modal-content a {
    margin: 0;
    padding: 0;

    color: inherit;

    font-size: inherit;
    text-decoration: underline;
    
    cursor: pointer;
}

notify-gp .notify-modal .notify-modal-content a:hover,
notify-gp .notify-modal .notify-modal-content a:active,
notify-gp .notify-modal .notify-modal-content a:visited,
notify-gp .notify-modal .notify-modal-content a:focus {
    color: inherit;
}

notify-gp .notify-snackbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-bottom: 5px;
    transform-origin: left bottom 0px;
}

.notify-position-lt-corner {
    align-items: flex-start;

    margin: 0 0 0 15px;

    left: 0;
    right: initial;
}

.notify-position-lb-corner {
    flex-flow: column-reverse wrap-reverse;

    margin: 0 0 15px 15px;

    right: initial;
    top: initial;

    left: 0;
    bottom: 0;
}

.notify-position-rb-corner {
    flex-flow: column-reverse wrap-reverse;
    align-items: flex-start;

    margin: 0 15px 15px 0;

    top: initial;
    left: initial;

    bottom: 0;
    right: 0;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        margin-top: 0;
        padding: 0;
        height: 0;
        min-height: 0;
        opacity: 0;
        transform: scaleY(0);
    }
}

@media (pointer: coarse) {
    notify-gp {
        top: initial;
        bottom: 0;
        left: 0;

        margin: 0 10px 10px 10px;
    }

    notify-gp notify {
        width: 100%;
        max-width: 600px;
    }

    notify-gp .notify-show,
    notify-gp .notify-hide {
        transform-origin: bottom!important;
    }

    notify-gp .notify-snackbar {
        position: initial;
    }
}