# for common
node_modules/**
publish/**

# for chrome
src/bundle/**

# for firefox
ext/bundle/**
ext/focus/**
ext/read/**
ext/options/**
ext/assets/**
ext/_locales/**

# for mac
**/.DS_Store
