
/**
 *  root
 */
:root {
    --text-color: #333;
    --text-secondary-color: #fff;

    --background-color: #fafafa;
    --secondary-color: color(#333 alpha(-30%));

    --padding-bottom: 10px;

    --white-link: {
        padding-bottom: 5px;

        font-size: 1.3rem;
        font-weight: 500;

        color: var(--text-secondary-color);
        text-decoration: none;

        transition: border-color .5s;
        border-bottom: 2px solid transparent;
    }

    --white-link-hover: {
        color: color( var(--text-secondary-color) alpha(-10%));
        border-bottom: 2px solid var(--text-secondary-color);
    }

    --large-button: {
        padding: 0 16px;

        width: 200px;
        height: 48px;

        min-width: 88px;
        min-height: 36px;

        line-height: 48px;
        text-decoration: none;

        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
}

* {
    box-sizing: border-box;
}

/**
 *  golbal
 */
html {
    font: 300 16px/1.8 -apple-system, PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-size: 62.5%;

    color: var(--text-color);
    background: var(--background-color);

    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;

    text-align: center;

    color: var(--text-color);
    background-color: var(--background-color);
}

.logo span {
    display: block;

    width: 125px;
    height: 41px;

    background-repeat: no-repeat;
    background-position: center center;
    background-image: url( '../icons/logo.png' );
}

/**
 *  Index page
 */
.top {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100px;

    background-color: #1976D2;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.top .logo {
    padding-left: 40px;
}

.top ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    padding-right: 20px;

    width: 100%;

    list-style: none;
}

.top ul li {
    margin: 0 20px;
}

.top ul li a {
    @apply --white-link;
}

.top ul li a:hover {
    @apply --white-link-hover;
}

/**
 *  header
 */
.header {
    height: 706px;

    color: var(--text-secondary-color);
    background: linear-gradient(to bottom, #1976D2 0, #2196F3 100%);
}

.header .title,    .header .desc,
.header .download, .header .introduce {
    padding-bottom: var(--padding-bottom);
}

.header .title {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 2px;

    padding: 40px 0 0 0;
}

.header .desc {
    font-size: 2.4rem;
    font-weight: 100;
    letter-spacing: 1px;
}

.header .download {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.header .download .online {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F44336;
    @apply --large-button;
}

.header .download .online:hover {
    background-color: #E53935;
    box-shadow: rgba(0, 0, 0, .3) 0px 5px 5px, rgba(0, 0, 0, .3) 0px 5px 5px;
}

.header .download .online span {
    color: var(--text-secondary-color);
    font-size: 2.4rem;
}

.header .introduce img {
    padding-top: 40px;
    max-width: 800px;
}

/**
 *  main
 */
.main .feature {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 50px 0;

    color: var(--text-color);
    text-align: left;

    width: 100%;
}

.main .feature img {
    min-width: 542px;
    max-width: 600px;
}

.main .feature.read,
.main .feature.theme,
.main .feature.export,
.main .feature.multi,
.main .feature.all {
    background: #fff;
}

.main .feature.focus,
.main .feature.sitemanager,
.main .feature.custom {
    justify-content: flex-end;
}

.main .feature .intro .desc span {
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(27,31,35,0.05);
}

.main .feature .intro {
    padding: 10px;

    & .title {
        padding: 40px 0;
        font-size: 2.4rem;
    }

    & .desc {
        font-size: 1.8rem;
        color: var(--secondary-color);
    }

    & .desc a {
        color: inherit;
        font-size: inherit;
        border-bottom: 1px solid rgba(51, 51, 51, 0.7);
        text-decoration: none;
        font-weight: 400;
    }
}

.main .lite,
.main .service {
    background-color: var(--text-secondary-color);

    & .title {
        padding: 40px 0;
        font-size: 2.4rem;
    }

    & .desc {
        font-size: 1.8rem;
        color: var(--secondary-color);

        & span {
            padding: 5px;
            border-radius: 3px;
            background-color: rgba(27,31,35,0.05);
        }

        & a {
            color: inherit;
            font-size: inherit;
            border-bottom: 1px solid rgba(51, 51, 51, 0.7);
            text-decoration: none;
            font-weight: 400;
        }
    }
}

.main .feature.all {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .title {
        padding: 40px 0;
        font-size: 2.4rem;

        & a {
            color: inherit;
            text-decoration: none;
        }
    }
}

.main .feature.all section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    margin: 0 auto;

    max-width: 1024px;

}

.main .feature.all section .only {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 40px;

    color: var(--secondary-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

.main .feature.all section .only .icon {
    display: block;

    width: 75px;
    height: 75px;

    border-radius: 25px;

    background-repeat: no-repeat;
    background-position: center center;

    &.style {
        background-image: url( '../icons/feature_style.png' );
    }

    &.layout {
        background-image: url( '../icons/feature_layout.png' );
    }

    &.fontfamily {
        background-image: url( '../icons/feature_fontfamily.png' );
    }

    &.fontsize {
        background-image: url( '../icons/feature_fontsize.png' );
    }

    &.share {
        background-image: url( '../icons/feature_share.png' );
    }

    &.shortcuts {
        background-image: url( '../icons/feature_shortcuts.png' );
    }

    &.custom {
        background-image: url( '../icons/feature_custom.png' );
    }

    &.opacity {
        background-image: url( '../icons/feature_opacity.png' );
    }

    &.sync {
        background-image: url( '../icons/feature_sync.png' );
    }

    &.import {
        background-image: url( '../icons/feature_import.png' );
    }

    &.export {
        background-image: url( '../icons/feature_export.png' );
    }

    &.clear {
        background-image: url( '../icons/feature_clear.png' );
    }
}

.main .downloads {
    display: flex;
    flex-direction: column;

    background-color: #fff;
}

.main .downloads a {
    font-size: 2.4rem;
}

.main .downloads span {
    margin: 10px 0;
    font-size: 1.8rem;
    color: rgba(51, 51, 51, 0.7);
}

.main .downloads .platforms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 40px 0;

    width: 100%;
}

.main .downloads .platform {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.5rem;
}

.main .downloads .jsbox-platform {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.5rem;
}

.main .downloads .platform img {
    width: 90px;
}

.main .downloads .platform span {
    width: 92px;
    height: 81px;

    background-repeat: no-repeat;
    background-position: center center;

        &.chrome {
            background-image: url( '../icons/download_chrome.png' );
        }

        &.offline {
            background-image: url( '../icons/download_offline.png' );
        }

        &.firefox {
            background-image: url( '../icons/download_firefox.png' );
        }

        &.safe {
            background-image: url( '../icons/download_360.png' );
        }

        &.qq {
            background-image: url( '../icons/download_qq.png' );
        }

        &.lite {
            width: 233px;
            background-image: url( '../icons/download_userscript.png' );
        }
}

.main .downloads .platform a {
    margin: 10px;
    padding: 3px 10px;

    width: 150px;

    color: #fff;
    background-color: rgba(83, 103, 119, .7);

    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;

    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.main .downloads .platform a {
    &:hover {
        background-color: #42A5F5;
        box-shadow: rgba(0, 0, 0, .3) 0px 5px 5px, rgba(0, 0, 0, .3) 0px 5px 5px;
    }

    &.offline:hover {
        background-color: #0294b9;
    }

    &.firefox:hover {
        background-color: #fb6500;
    }

    &.safe:hover {
        background-color: #0bd25d;
    }

    &.qq:hover {
        background-color: #0c9ce0;
    }

    &.userscript {
        font-size: 2.2rem;
        background-color: rgba(0, 72, 91, .8);
        @apply --large-button;
    }

    &.userscript:hover {
        background-color: #00485b;
        box-shadow: rgba(0, 0, 0, .3) 0px 5px 5px, rgba(0, 0, 0, .3) 0px 5px 5px;
    }

    &.jsbox {
        font-size: 2.2rem;
        background-color: #157efb;
        @apply --large-button;
    }

    &.jsbox:hover {
        background-color: #0c7bff;
        box-shadow: rgba(0, 0, 0, .3) 0px 5px 5px, rgba(0, 0, 0, .3) 0px 5px 5px;
    }
}

.reviews {

    background-color: var(--text-secondary-color);

    & .title {
        padding-top: 40px;
        font-size: 2.4rem;
    }

    & #fullpage {
        height: 200px;
    }

    & .review {
        line-height: 89px;
        font-size: 1.8rem;
        color: var(--secondary-color);

        & .content:before {
            content: '“';

            font-size: 80px;
            font-family: "Arial";

            color: rgba( 0, 0, 0, 0.15 );
        }

        & .content:after {
            content: '”';

            position: absolute;
            bottom: 20px;

            font-size: 80px;
            font-family: "Arial";

            color: rgba( 0, 0, 0, 0.15 );
        }

        & .auth span {
            font-size: 11px;
        }
    }
}

/**
 *  footer
 */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    color: var(--text-secondary-color);
    background-color: #37474F;
}

.footer a {
    @apply --white-link;
}

.footer .copywrite {
    padding-bottom: var(--padding-bottom);

    width: 100%;
    text-align: center;
}

.footer .groups {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-bottom: var(--padding-bottom);

    width: 100%;
}

.footer .groups .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer .groups .links a:hover {
    color: color( var(--text-secondary-color) alpha(-10%));
    text-decoration: none;
}

.footer .groups .links:nth-of-type(1) {
    justify-content: center;
}

.footer .groups .links ul {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
    list-style: none;

    zoom: .9;
}

.footer .groups .links ul li .icon {
    display: block;

    width: 30px;
    height: 30px;

    padding: 20px;

    opacity: .4;

    background-repeat: no-repeat;
    background-position: center center;
}

.footer .groups .links ul li .weibo {
    background-image: url( '../icons/weibo.png' );
}

.footer .groups .links ul li .douban {
    background-image: url( '../icons/douban.png' );
}

.footer .groups .links ul li .twitter {
    background-image: url( '../icons/twitter.png' );
}

.footer .groups .links ul li .facebook {
    background-image: url( '../icons/facebook.png' );
}

.footer .groups .links ul li .gplus {
    background-image: url( '../icons/gplus.png' );
}

.footer .groups .links ul li .telegram {
    background-image: url( '../icons/telegram.png' );
}

.footer .groups .links .logo {
    display: flex;
    justify-content: center;

    padding: 20px 0;
    width: 100%;

    opacity: .8;
    zoom: .8;
}

.footer .copywrite a:hover {
    @apply --white-link-hover;
}

@media all and ( min-width: 2000px ) {

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main .feature.read,
    .main .feature.focus,
    .main .feature.theme,
    .main .feature.custom,
    .main .feature.all {
        justify-content: center;

        margin: 20px;

        width: 1035px;

        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 10px 25px 0 rgba(49,49,93,0.1);
    }

    .main .feature.all {
        background-color: #FCFCFC;

        & img {
            max-width: 1030px;
            zoom: initial;
        }

    }

    .footer {
        margin-top: 20px;
    }

}

/**
 *  Changelog page
 */
.container {
    margin: 0 auto;
    padding: 40px 0;

    width: 100%;
    max-width: 1024px;

    text-align: left;
}

.container .title {
    font-size: 3rem;
    font-weight: bold;
}

.container .desc {
    padding-bottom: 20px;

    font-size: 1.6rem;
    border-bottom: 1px solid color(#333 alpha(-88%));
}

.versions {
    position: relative;

    margin: 20px 0;
    padding: 10px;

    min-height: 500px;

    font-size: 1.4rem;
}

.versions:after {
    position: absolute;
    content: "";

    top: 0;
    left: 0;
    bottom: 0;

    width: 2px;
    background-image: linear-gradient(to bottom, transparent 0, #2196F3 100% );
}

.version:last-child {
    margin-bottom: 0;
}

.version {
    margin: 0 0 40px 10px;
}

.version .data {
    position: relative;

    /*left: -84px;*/
    left: -94px;
    top: 34px;

    width: 57px;
    text-align: right;
}

.version .data .year {
    padding-left: 21px;

    line-height: 1px;
    font-size: 1.4rem;
}

.version .data .day {
    font-size: 2rem;
}

.versions .point {
    position: absolute;

    left: -14px;

    margin: 10px;

    width: 10px;
    height: 10px;

    text-align: start;

    background-color: var(--text-secondary-color);
    border-radius: 50%;
    border: 2px solid #007aff;

    z-index: 10;

    &.milestone {
        left: -17px;

        width: 15px;
        height: 15px;

        background-color: #007aff;
    }
}

.version .num {
    font-size: 2rem;
    font-weight: 400;
}

.version .details img {
    margin: 10px;
    margin-left: 52px;
    padding: 5px;

    max-width:300px;

    background: #fff;

    border: 1px solid #bbb;
    box-shadow: 1px 1px 3px #d4d4d4;
}

.version .details img:hover {
    box-shadow: 3px 3px 3px #d4d4d4;
}

.version .details ul {
    list-style: none;
    line-height: 35px;

    margin: 0;
    padding: 0;
}

.version .type {
    margin-right: 5px;
    padding: 3px 10px;

    color: var(--text-secondary-color);
    font-weight: 500;

    border-radius: 2px;
}

.version .type.add {
    background-color: #4CAF50;
}

.version .type.fix {
    background-color: #F44336;
}

.version .type.change {
    background-color: #FFC107;
}

.version .type.complete {
    background-color: #03A9F4;
}

.version .type.important {
    background-color: #9c27b0;
}

.version .type.empty {
    opacity: 0;
}

.version code {
    font-family: inherit;
    font-size: 0.9rem;

    margin: 0;
    padding: 4px;

    background-color: color(#333 alpha(-85%));
    border-radius: 3px;
}

.version .details li a {
    @apply --white-link;
    font-size: inherit;
    color: var(--text-color);
}

.version .details li a:hover {
    @apply --white-link-hover;
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
}

.header .introduce img {
    padding-top: 40px;
    max-width: 800px;
}

@media all and ( min-width: 980px ) {

    .container {
        max-width: 700px;
    }
}

/**
 * 404 page
 */
.undefined {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.undefined .bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 700px;
    height: 400px;

    margin: 116px 0;

    background-color: #fff;
    border-radius: 2px;
    /*box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);*/
}

/*
.undefined .title {
    font-family: 'Roboto', sans-serif;

    margin-top: 0;
    margin-bottom: 12px;

    font-size: 250px;
    line-height: 250px;
    font-weight: 700;
}
*/

.undefined .desc {
    margin-top: 10px;

    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3;
}

.undefined .desc span {
    border-bottom: 2px solid var(--text-color);
}

.undefined .backup {
    margin-top: 20px;

    width: 100px;
    height: 36px;

    color: #fff;
    background-color: #1976D2;

    font-weight: bold;
    font-size: 15px;

    line-height: 36px;
    text-decoration: none;

    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
    transition: all .5s;
}

.undefined .backup:hover {
    background-color: #2196F3;
    box-shadow: 0 5px 5px rgba(0,0,0,.3), 0 5px 5px rgba(0,0,0,.3);
}


/**
 * Auth page
 */

.auth .title {
    font-size: 18px;
}

.auth .notice {
    width: 583px;
    padding: 0 16px;
}

/**
 *  version update page
 */
.update {
    margin: 0 auto;
    padding: 40px 10px;

    width: 100%;
    max-width: 1024px;

    text-align: left;
}

.update .dividers {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.12);
}

.update .desc {
    font-size: 16px;
    font-size: 1.6rem;
}

.update h1 {
    margin-top: 1.2em;
    margin-bottom: 0.6em;

    font-size: 3rem;
    font-weight: 300;
    line-height: 1.35;
}

.update h2 {
    margin-top: 1.2em;
    margin-bottom: 0.6em;

    line-height: 1.35;
    font-size: 2.3rem;
    font-weight: 300;
}

.update h3 {
    margin-top: 1.2em;
    margin-bottom: 0.6em;

    line-height: 1.35;
    font-size: 2rem;
    font-weight: 300;
}

.update a {
    padding-bottom: 2px;

    color: inherit;
    font-size: 1.6rem;
    font-weight: 400;

    text-decoration: none;
    border-bottom: 2px solid rgba(51, 51, 51, 0.12);
}

.update ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.update ul li {
    margin: 5px 0;
}

.update .infos {
    margin-top: 20px;
}

.update .info {
    font-size: 1.6rem;
}

.update .info img {
    margin: 10px;
    padding: 5px;

    max-width: 500px;

    background: #fff;

    border: 1px solid rgba(51, 51, 51, 0.35);
    box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.15);
}

.update .info .line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subtitle,
.update .info blockquote {
    margin: 20px 0;
    padding: 0 1em;

    font-size: 1.6rem;

    border-left: 0.25em solid #3e50b4;
}

.update .info b {
    margin: 0 2px;
}

.update .info span.number {
    display: block;
    margin-right: 5px;

    width: 18px;
    height: 18px;

    color: #fff;
    background: #ff3f80;

    border-radius: 50%;

    text-align: center;
    vertical-align: middle;

    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.update .info a {
    padding-left: 2px;
    padding-bottom: 0;

    font-size: inherit;
    font-weight: bold;
    text-decoration: none;

    transition: border-color .5s;
    border-bottom: 0 solid transparent;
}

.update .info code {
    margin: 0 2px;
    padding: 4px;

    font-family: inherit;
    font-size: 0.9rem;

    background-color: rgba(51, 51, 51, 0.15);
    border-radius: 3px;
}
