
/**
 * root
 */
:root {
    --text-color: #333;
    --text-secondary-color: #fff;

    --background-color: #fafafa;
    --secondary-color: color(#333 alpha(-30%));

    --padding-bottom: 10px;

    --white-link: {
        padding-bottom: 5px;

        font-size: 1.3rem;
        font-weight: 500;

        color: var(--text-secondary-color);
        text-decoration: none;

        transition: border-color .5s;
        border-bottom: 2px solid transparent;
    }

    --white-link-hover: {
        color: color( var(--text-secondary-color) alpha(-10%));
        border-bottom: 2px solid var(--text-secondary-color);
    }

    --large-button: {
        padding: 0 16px;

        width: 200px;
        height: 48px;

        min-width: 88px;
        min-height: 36px;

        line-height: 48px;
        text-decoration: none;

        border-radius: .3em;
        box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,.15), 0 0 1.5rem 0.5rem rgba(33,37,41,.05);
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
}

* {
    box-sizing: border-box;
}

/**
 *  golbal
 */
html {
    font: 300 16px/1.8 -apple-system, PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-size: 62.5%;

    color: var(--text-color);
    background: var(--background-color);

    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;

    text-align: center;

    color: var(--text-color);
    background-color: var(--background-color);

    overflow-x: hidden;
}

.logo span {
    display: block;

    width: 125px;
    height: 41px;

    background-repeat: no-repeat;
    background-position: center center;
    background-image: url( '../icons/logo.png' );
}

/**
 * Main page
 */

/**
 * top
 */
.top {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100px;

    background-color: #195BF7;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);

    transition: all .5s ease-in-out;
}

.top.scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 70px;

    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    z-index: 3000;
}

.top .logo {
    padding-left: 40px;
}

.top ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    padding-right: 20px;

    width: 100%;

    list-style: none;
}

.top ul li {
    margin: 0 20px;
}

.top ul li a {
    @apply --white-link;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.top ul li a:hover {
    @apply --white-link-hover;
}

.top ul li.nav-changelog {
    margin-right: 0;
}

.hamburger.active {
    position: fixed;
    right: 23px;
    top: 23px;
    z-index: 200;
}

/**
 * menubar
 */
.menubar:before {
    content: '';

    position: fixed;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    background: rgba(33, 150, 243, 1);

    transition: all 200ms ease-in-out;
    clip-path: circle( 30px at calc(100% - 65px) 65px);
    visibility: hidden;
}

.menubar.active:before {
    visibility: visible;
    clip-path: circle(100%);
}

.menu-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bg .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    margin-top: 40px;

    width: 100%;

    color: #fff;

    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.menu-bg .menu.open {
    opacity: 1;
}

.menu-bg .menu.open {
  opacity: 1;
  visibility: visible;
}
.menu-bg .menu.open .link {
    animation-name: fadeInUp;
    animation-fill-mode: both;
    animation-duration: 1.0s;
}

.menu-bg .menu.open .link:nth-child(1) {
    animation-delay: 0.1s;
}
.menu-bg .menu.open .link:nth-child(2) {
    animation-delay: 0.2s;
}
.menu-bg .menu.open .link:nth-child(3) {
    animation-delay: 0.3s;
}
.menu-bg .menu.open .link:nth-child(4) {
    animation-delay: 0.4s;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.menu-bg .menu .menuitem {
    max-width: 450px;
    width: 100%;
}

.menu-bg .menu .menuitem a {
    position: relative;
    color: inherit;
    text-decoration: none;
}

.menu-bg .menu .menuitem a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 58px;
    height: 4px;
    opacity: 0;
    background-color: #fff;
    transform: translateX(100px);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.menu-bg .menu .menuitem a:hover:before {
    opacity: 1;
    transform: translateX(0px);
}

.menu-bg .menu .menuitem .title {
    text-align: left;
    font-size: 35px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.menu-bg .menu .menuitem .title i {
    font-size: 12px;
}

.menu-bg .menu .menuitem .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 40px;

    font-size: 24px;
}

.menu-bg .menu .menuitem .links a {
    display: flex;
    align-items: center;

    margin-bottom: 5px;
    font-size: 24px;

    transition: all 0.5s ease;
}

.menu-bg .menu .menuitem .links i {
    margin-left: 5px;
    font-size: 13px;
}

.menu-bg .menu .menuitem .links .link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 20px;
}

.menu-bg .menu .menuitem .links .link:hover i {
    animation: slide1 1s ease-in-out infinite;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

.menu-bg .menu .menuitem .links .link span {
    height: 50px;
    text-align: left;
    font-size: 14px;
}

/**
 * header
 */
.header {
    height: 754px;

    color: var(--text-secondary-color);
    background: linear-gradient(to bottom, #195BF7 0, #2163F7 100%);
}

.header .title,    .header .desc,
.header .download, .header .introduce {
    padding-bottom: var(--padding-bottom);
}

.header .title {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 2px;

    padding: 40px 0 0 0;
}

.header .desc {
    font-size: 2.4rem;
    font-weight: 100;
    letter-spacing: 1px;
}

.header .download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .download .online {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F44336;
    @apply --large-button;

    cursor: pointer;
}

.header .download .online:hover {
    box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33,37,41,.3),0 0 1.5rem .5rem rgba(33,37,41,.05)!important;
    transform: translateY(-2px);
}

.header .download .online span {
    color: var(--text-secondary-color);
    font-size: 2.4rem;
}

.header .download .stars {
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    & i {
        margin-bottom: 2px;
        padding: 0 2px;
        font-size: 16px;
        color: #FCC825;
    }
}

.header .introduce img {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

/**
 * Desktop media
 */
@media (pointer: fine) {

    .header .title,
    .header .desc,
    .header .download,
    .header .introduce img {
        animation-name: fadeInDown;
        animation-fill-mode: both;
        animation-duration: 1.0s;
    }

    .header .title {
        animation-delay: 0.1s;
    }
    .header .desc {
        animation-delay: 0.3s;
    }
    .header .download {
        animation-delay: 0.6s;
    }
    .header .introduce img {
        animation-name: fadeInUp;
        animation-delay: 0.4s;
    }

}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/**
 * main
 */
.main .feature {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 50px 0;

    color: var(--text-color);
    text-align: left;

    width: 100%;
}

.main .feature img {
    min-width: 542px;
    max-width: 600px;
}

.main .feature.read,
.main .feature.theme,
.main .feature.export,
.main .feature.multi,
.main .feature.all {
    background: #fff;
}

.main .feature.focus,
.main .feature.sitemanager,
.main .feature.custom {
    justify-content: flex-end;
}

.main .feature .intro .desc span {
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(27,31,35,0.05);
}

.main .feature .intro {
    padding: 10px;

    & .title {
        position: relative;
        padding: 40px 0;
        font-size: 3rem;
    }

    & .title:after {
        content: "";

        position: absolute;
        left: 0;
        bottom: 45px;

        height: 8px;
        width: 58px;

        background: #fcd908;
        border-radius: 4px;

        opacity: .8;
        transition: all .3s;
    }

    & .desc {
        font-size: 1.8rem;
        color: var(--secondary-color);
    }

    & .desc a {
        color: inherit;
        font-size: inherit;
        border-bottom: 1px solid rgba(51, 51, 51, 0.7);
        text-decoration: none;
        font-weight: 400;
    }
}

.main .group.productive,
.main .group.export,
.main .group.plugins {
    height: 350px;
}

.main .group.productive {
    position: relative;

    display: flex;
    align-items: center;

}

.main .group.productive .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;

    & .desc {
        text-align: left;
    }
}

.main .group.productive .icons {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
}

.main .group.productive .icon {
    position: absolute;

    background-color: #fff;

    border-radius: 50%;
    box-shadow: 0 2rem 1.5rem -1.5rem rgba(33, 37, 41, .15), 0 0 1.5rem 0.5rem rgba(33, 37, 41, .05)!important;

    display: block;
    width: 88px;
    height: 88px;

    background-repeat: no-repeat;
    background-position: center center;

    &.dropbox {
        top: 10px;
        left: 10px;
        background-image: url( '../icons/service_dropbox.png' );
    }

    &.onenote {
        bottom: 15px;
        right: 15px;
        background-image: url( '../icons/service_onenote.png' );
        transform: scale(.7);
        transform-origin: center;
    }

    &.linnk {
        top: -40px;
        right: 125px;
        background-image: url( '../icons/service_linnk.png' );
    }

    &.jianguo {
        bottom: 30px;
        background-image: url( '../icons/service_jianguo.png' );
        transform: scale(.8);
        transform-origin: center;
    }

    &.instapaper {
        left: 221px;
        top: 81px;
        background-image: url( '../icons/service_instapaper.png' );
        transform: scale(.9);
        transform-origin: center;
    }

    &.evernote {
        top: 135px;
        left: 95px;
        background-image: url( '../icons/service_evernote.png' );
    }

    &.gdrive {
        left: 40%;
        bottom: 20px;
        background-image: url( '../icons/service_gdrive.png' );
    }

    &.pocket {
        right: 10%;
        top: 30%;
        background-image: url( '../icons/service_pocket.png' );
    }

    &.webdav {
        left: 60%;
        bottom: 50px;
        background-image: url( '../icons/service_webdav.png' );
        transform: scale(.6);
        transform-origin: center;
    }

    &.yuque {
        top: 20px;
        right: 278px;
        background-image: url( '../icons/service_yuque.png' );
        transform: scale(.8);
        transform-origin: center;
    }
}

.main .group.plugins {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fff;
    background-color: #3971F7;

    & .title {
        position: relative;
    }

    & .desc {
        position: relative;
        color: #fff;
    }

    & a {
        border-bottom-color: #fff!important;
    }

    & .icon {
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100px;
        min-height: 100px;
        line-height: 100px;

        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 2rem 1.5rem -1.5rem rgba(33, 37, 41, .15), 0 0 1.5rem 0.5rem rgba(33, 37, 41, .05);

        & i {
            color: rgba(51, 51, 51, 0.7);
            font-size: 50px;
        }
    }

    & .icon.images {
        left: 20px;
        top: 20px;
    }

    & .icon.clock {
        right: 10px;
        bottom: 8px;
    }

    & .icon.magic {
        right: 200px;
        top: -49px;
        transform: scale(.7);
    }

    & .icon.file-download {
        left: 250px;
        bottom:49px;
        transform: scale(.7);
    }

    & .icon.language {
        right: 350px;
        bottom: 149px;
    }

    & .icon.compass {
        right: 250px;
        bottom: 15px;
         transform: scale(.5);
    }

    & .icon.plug {
        left: 350px;
        top: 15px;
        transform: scale(.87);
    }
    
    & .icon.eraser {
        left: 550px;
        bottom: -35px;
        transform: scale(.6)
    }
    
    & .icon.globe {
        right: 80px;
        top: 65px;
        transform: scale(.5);
    }
}

.main .lite,
.main .service {
    background-color: var(--text-secondary-color);

    & .label {
        display: flex;
        justify-content: center;
    }

    & .title {
        position: relative;
        padding: 40px 0;
        font-size: 3rem;
    }

    & .title:after {
        content: "";

        position: absolute;
        left: 0;
        bottom: 45px;

        height: 8px;
        width: 58px;

        background: #fcd908;
        border-radius: 4px;

        opacity: .8;
        transition: all .3s;
    }

    & .desc {
        font-size: 1.8rem;
        color: var(--secondary-color);

        & span {
            padding: 5px;
            border-radius: 3px;
            background-color: rgba(27,31,35,0.05);
        }

        & a {
            color: inherit;
            font-size: inherit;
            border-bottom: 1px solid rgba(51, 51, 51, 0.7);
            text-decoration: none;
            font-weight: 400;
        }
    }
}

.main .feature.all {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    & svg {
        position: absolute;
        right: 0;
        top: 9%;
        opacity: .9;
        transform: scale(1.4);
    }

    & img.symbol {
        position: absolute;

        right: 30px;
        bottom: -10px;

        min-width: initial;
        width: 200px;
    }

    & .title {
        position: relative;
        padding: 40px 0;
        font-size: 3rem;

        & a {
            color: inherit;
            text-decoration: none;
        }
    }

    & .title:after {
        content: "";

        position: absolute;
        left: 0;
        bottom: 45px;

        height: 8px;
        width: 58px;

        background: #fcd908;
        border-radius: 4px;

        opacity: .8;
        transition: all .3s;
    }

}

.main .feature.all section {
    position: relative;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    margin: 0 auto;

    max-width: 1024px;

}

.main .feature.all section .only {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 10px 0;
    padding: 40px;

    color: var(--secondary-color);
    background-color: #fff;

    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;

    border-radius: 8px;
    box-shadow: 0 2rem 1.5rem -1.5rem rgba(33, 37, 41, .15), 0 0 1.5rem 0.5rem rgba(33, 37, 41, .05)!important;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33, 37, 41, .3),0 0 1.5rem .5rem rgba(33, 37, 41, .05)!important;
    }
}

.main .feature.all section .only .icon {
    display: block;

    width: 75px;
    height: 75px;

    border-radius: 25px;

    background-repeat: no-repeat;
    background-position: center center;

    &.style {
        background-image: url( '../icons/feature_style.png' );
    }

    &.layout {
        background-image: url( '../icons/feature_layout.png' );
    }

    &.fontfamily {
        background-image: url( '../icons/feature_fontfamily.png' );
    }

    &.fontsize {
        background-image: url( '../icons/feature_fontsize.png' );
    }

    &.share {
        background-image: url( '../icons/feature_share.png' );
    }

    &.shortcuts {
        background-image: url( '../icons/feature_shortcuts.png' );
    }

    &.custom {
        background-image: url( '../icons/feature_custom.png' );
    }

    &.opacity {
        background-image: url( '../icons/feature_opacity.png' );
    }

    &.sync {
        background-image: url( '../icons/feature_sync.png' );
    }

    &.import {
        background-image: url( '../icons/feature_import.png' );
    }

    &.export {
        background-image: url( '../icons/feature_export.png' );
    }

    &.clear {
        background-image: url( '../icons/feature_clear.png' );
    }
}

@media (pointer: coarse) {
    .main .group.feature.all {

        & svg, & img {
            display: none;
        }
    }
}

.main .downloads {
    display: flex;
    flex-direction: column;

    background-color: #fff;

    & .label {
        display: flex;
        justify-content: center;
    }

    & .title {
        position: relative;
        padding: 40px 0;
        font-size: 3rem;
    }

    & .title:after {
        content: "";

        position: absolute;
        left: 0;
        bottom: 45px;

        height: 8px;
        width: 58px;

        background: #fcd908;
        border-radius: 4px;

        opacity: .8;
        transition: all .3s;
    }
}

.main .downloads a {
    font-size: 3rem;
}

.main .downloads span {
    margin: 10px 0;
    font-size: 1.8rem;
    color: rgba(51, 51, 51, 0.7);
}

.main .downloads .platforms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 40px 0;
    padding-bottom: 0;

    width: 100%;
}

.main .downloads .platform {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.5rem;
}

.main .downloads .jsbox-platform {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.5rem;
}

.main .downloads .platform img {
    width: 90px;
}

.main .downloads .platform span {
    width: 92px;
    height: 81px;

    background-repeat: no-repeat;
    background-position: center center;

        &.chrome {
            background-image: url( '../icons/download_chrome.png' );
        }

        &.offline {
            background-image: url( '../icons/download_offline.png' );
        }

        &.firefox {
            background-image: url( '../icons/download_firefox.png' );
        }

        &.safe {
            background-image: url( '../icons/download_360.png' );
        }

        &.qq {
            background-image: url( '../icons/download_qq.png' );
        }

        &.sogou {
            background-image: url( '../icons/download_sogou.png' );
        }

        &.lite {
            width: initial;
            font-size: 40px;
            background-color: transparent;

            & i.fa-opera {
                color: #D01021;
            }
            & i.fa-safari {
                color: #2BAEF9;
            }
            & i.fa-edge {
                color: #1B78B5;
            }
            & i.fa-firefox {
                color: #FA5A58;
            }
            & i.fa-safari {
                color: #2BAEF9;
            }
            & i.fa-ellipsis-h {
                transform: scale(.7);
            }
        }
}

.main .downloads .platform a {
    margin: 10px;
    padding: 3px 10px;

    width: 150px;

    color: #fff;
    background-color: rgba(83, 103, 119, .7);

    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;

    border-radius: 15px;
    box-shadow: 0 2rem 1.5rem -1.5rem rgba(33, 37, 41, .15), 0 0 1.5rem 0.5rem rgba(33, 37, 41, .05)!important;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.main .downloads .platform a {
    &:hover {
        transform: translateY(-2px);
        background-color: #42A5F5;
        box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33, 37, 41, .3),0 0 1.5rem .5rem rgba(33, 37, 41, .05)!important
    }

    &.offline:hover {
        background-color: #0294b9;
    }

    &.firefox:hover {
        background-color: #fb6500;
    }

    &.safe:hover {
        background-color: #0bd25d;
    }

    &.qq:hover {
        background-color: #0c9ce0;
    }

    &.sogou:hover {
        background-color: #42A5F5;
    }

    &.userscript {
        font-size: 2.2rem;
        background-color: rgba(0, 72, 91, .8);
        @apply --large-button;
    }

    &.userscript:hover {
        transform: translateY(-2px);
        box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33,37,41,.3),0 0 1.5rem .5rem rgba(33,37,41,.05)!important;
    }

    &.jsbox {
        font-size: 2.2rem;
        color: #2163F7;
        background-color: #fff;
        @apply --large-button;
    }

    &.jsbox:hover {
        transform: translateY(-2px);
        box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33,37,41,.3),0 0 1.5rem .5rem rgba(33,37,41,.05)!important;
    }
}

.main .group.jsbox {
    position: relative;
    background-color: #fafafa;

    & svg {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 55%;
    }

    & div.jsbox {
        position: relative;
        background-color: transparent;
    }

    & .platforms {
        position: relative;
    }

    & img {
        max-width: 800px;
        padding-top: 40px;
    }
}

@media (pointer: coarse) {
    .main .group.jsbox {

        & a.jsbox {
            color: #fff;
            background-color: #3971F7;
        }

        & svg {
            display: none;
        }
    }
}

.main .group {
    padding: 40px 0;

    & .title {
        padding-top: 0!important;
    }
}

.group.reviews {
    padding: 40px 0;

    & .title {
        padding-top: 0!important;
    }
}

.main .group.browser {
    background: linear-gradient(90deg, #e0e9f7 0%, white 100%);
}

.main .group.lite {
    background: linear-gradient(-90deg, white 0%, #ecf7e0 100%);

    & div.lite {
        background-color: transparent;
    }
}

.main .group.feature.all {
    background: linear-gradient( 90deg, #dfe9f3 0%, white 100%);
}

.group.reviews {
    color: #fff;
    background: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}

/**
 * reviews
 */
.reviews {

    & .label {
        display: flex;
        justify-content: center;
    }

    & .title {
        position: relative;
        padding: 40px 0;
        font-size: 3rem;
    }

    & .title:after {
        content: "";

        position: absolute;
        left: 0;
        bottom: 45px;

        height: 8px;
        width: 58px;

        background: #fcd908;
        border-radius: 4px;

        opacity: .8;
        transition: all .3s;
    }

    & #fullpage {
        height: 200px;
    }

    & .review {
        line-height: 89px;
        font-size: 1.8rem;
        color: #fff;

        & .content:before {
            content: '“';

            font-size: 80px;
            font-family: "Arial";

            color: #fff;
        }

        & .content:after {
            content: '”';

            position: absolute;
            bottom: 20px;

            font-size: 80px;
            font-family: "Arial";

            color: #fff;
        }

        & .auth span {
            font-size: 11px;
        }
    }
}

/**
 * footer
 */
.footer {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    padding: 40px 0;

    color: var(--text-secondary-color);
    background-image: linear-gradient(20deg, #434343 0%, rgba(0, 0, 0, .8) 100%);
}

.footer.fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer a {
    @apply --white-link;
}

.footer .groups {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-bottom: var(--padding-bottom);

    width: 100%;
}

.footer .groups .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer .groups .links a:hover {
    color: color( var(--text-secondary-color) alpha(-10%));
    text-decoration: none;
}

.footer .groups .links:nth-of-type(1) {
    justify-content: center;
}

.footer .groups .links ul {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
    list-style: none;

    zoom: .9;
}

.footer .groups .links ul li .icon {
    display: block;

    width: 30px;
    height: 30px;

    padding: 20px;

    opacity: .4;

    background-repeat: no-repeat;
    background-position: center center;
}

.footer .groups .links ul li .weibo {
    background-image: url( '../icons/weibo.png' );
}

.footer .groups .links ul li .douban {
    background-image: url( '../icons/douban.png' );
}

.footer .groups .links ul li .twitter {
    background-image: url( '../icons/twitter.png' );
}

.footer .groups .links ul li .facebook {
    background-image: url( '../icons/facebook.png' );
}

.footer .groups .links ul li .gplus {
    background-image: url( '../icons/gplus.png' );
}

.footer .groups .links ul li .telegram {
    background-image: url( '../icons/telegram.png' );
}

.footer .groups .links .logo {
    display: flex;
    justify-content: center;

    padding: 20px 0;
    width: 100%;

    opacity: .8;
    zoom: .8;
}

.footer .copywrite {
    position: absolute;
    bottom: 0;

    padding-bottom: var(--padding-bottom);

    width: 100%;
    text-align: center;
}

.footer .copywrite a:hover {
    @apply --white-link-hover;
}

/**
 * media
 */
@media all and ( min-width: 2000px ) {

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main .feature.read,
    .main .feature.focus,
    .main .feature.theme,
    .main .feature.custom,
    .main .feature.multi,
    .main .feature.sitemanager,
    .main .feature.all,
    .main .service,
    .main .downloads
    {
        justify-content: center;

        margin: 20px;

        width: 1035px;

        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 10px 25px 0 rgba(49,49,93,0.1);
    }

    .main .feature.all {
        background-color: #FCFCFC;

        & img {
            max-width: 1030px;
            zoom: initial;
        }

    }

    .footer {
        margin-top: 20px;
    }

}

/**
 * menu max width
 */
@media only screen and (max-width: 1350px) {
    .menu-bg .menu {
        transform: scale(.9);
    }
}

/**
 * iPad pro 12 and below
 */
@media only screen and (max-device-width: 1024px) {
    .menu-bg .menu .menuitem:nth-child(2) {
        margin: 0 10px;
    }

    .menu-bg .menu .menuitem .links .link span {
        min-height: 45px;
    }

    .navigator .nav-feature,
    .navigator .nav-gallery {
        display: none;
    }

    .top ul li {
        margin: 0 15px;
    }

    .top ul li:last-child {
        margin-right: 0;
    }

    .main .group.plugins {

        & .icon.language, & .icon.file-download {
            display: none;
        }

        & .icon.plug {
            left: 50px;
            bottom: 15px;
            top: initial;
            transform: scale(.6);
        }
    }

}

/**
 * iPad mini
 */
@media only screen and (max-device-width: 768px) {
    .menu-bg {
        align-items: flex-start;
    }

    .main .group.plugins {

        & .icon.language, & .icon.file-download, & .icon.compass {
            display: none;
        }

        & .icon.globe {
            right: 0;
        }
    }
}

/**
* iPhone XS Max and below
*/
@media only screen and (max-device-width: 414px) {

    .menu-bg {
        top: -150px;
    }

    .menu-bg .menu {
        flex-direction: column;
        margin: 10px 0;
        transform: scale(.8);
    }

    .menu-bg .menu .menuitem:nth-child(2) {
        margin: 0;
    }

}

/**
 * Changelog page
 */
.container {
    margin: 0 auto;
    padding: 40px 0;

    width: 100%;
    max-width: 1024px;

    text-align: left;
}

.container .title {
    font-size: 3rem;
    font-weight: bold;
}

.container .desc {
    padding-bottom: 20px;

    font-size: 1.6rem;
    border-bottom: 1px solid color(#333 alpha(-88%));
}

.versions {
    position: relative;

    margin: 20px 0;
    padding: 10px;

    min-height: 500px;

    font-size: 1.4rem;
}

.versions:after {
    position: absolute;
    content: "";

    top: 0;
    left: 0;
    bottom: 0;

    width: 2px;
    background-image: linear-gradient(to bottom, transparent 0, #2196F3 100% );
}

.version:last-child {
    margin-bottom: 0;
}

.version {
    margin: 0 0 40px 10px;
}

.version .data {
    position: relative;

    /*left: -84px;*/
    left: -94px;
    top: 34px;

    width: 57px;
    text-align: right;
}

.version .data .year {
    padding-left: 21px;

    line-height: 1px;
    font-size: 1.4rem;
}

.version .data .day {
    font-size: 2rem;
}

.versions .point {
    position: absolute;

    left: -14px;

    margin: 10px;

    width: 10px;
    height: 10px;

    text-align: start;

    background-color: var(--text-secondary-color);
    border-radius: 50%;
    border: 2px solid #007aff;

    z-index: 10;

    &.milestone {
        left: -17px;

        width: 15px;
        height: 15px;

        background-color: #007aff;
    }
}

.version .num {
    font-size: 2rem;
    font-weight: 400;
}

.version .details img {
    margin: 10px;
    margin-left: 52px;
    padding: 5px;

    max-width:300px;

    background: #fff;

    border: 1px solid #bbb;
    box-shadow: 1px 1px 3px #d4d4d4;
}

.version .details img:hover {
    box-shadow: 3px 3px 3px #d4d4d4;
}

.version .details ul {
    list-style: none;
    line-height: 35px;

    margin: 0;
    padding: 0;
}

.version .type {
    margin-right: 5px;
    padding: 3px 10px;

    color: var(--text-secondary-color);
    font-weight: 500;

    border-radius: 2px;
}

.version .type.add {
    background-color: #4CAF50;
}

.version .type.fix {
    background-color: #F44336;
}

.version .type.change {
    background-color: #FFC107;
}

.version .type.complete {
    background-color: #03A9F4;
}

.version .type.important {
    background-color: #9c27b0;
}

.version .type.empty {
    opacity: 0;
}

.version code {
    font-family: inherit;
    font-size: 0.9rem;

    margin: 0;
    padding: 4px;

    background-color: color(#333 alpha(-85%));
    border-radius: 3px;
}

.version .details li a {
    @apply --white-link;
    font-size: inherit;
    color: var(--text-color);
    border-bottom: 1px dotted;
}

.version .details li a:hover {
    @apply --white-link-hover;
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
}

@media all and ( min-width: 980px ) {

    .container {
        max-width: 700px;
    }
}

/**
 * 404/500/auth page
 */
.undefined {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.undefined .bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 700px;
    height: 400px;

    margin: 116px 0;

    background-color: #fff;
    border-radius: 2px;
    /*box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);*/
}

/*
.undefined .title {
    font-family: 'Roboto', sans-serif;

    margin-top: 0;
    margin-bottom: 12px;

    font-size: 250px;
    line-height: 250px;
    font-weight: 700;
}
*/

.undefined .desc {
    margin-top: 10px;

    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3;
}

.undefined .desc span {
    border-bottom: 2px solid var(--text-color);
}

.undefined .backup {
    margin-top: 20px;

    width: 100px;
    height: 36px;

    color: #fff;
    background-color: #1976D2;

    font-weight: bold;
    font-size: 15px;

    line-height: 36px;
    text-decoration: none;

    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
    transition: all .5s;
}

.undefined .backup:hover {
    background-color: #2196F3;
    box-shadow: 0 5px 5px rgba(0,0,0,.3), 0 5px 5px rgba(0,0,0,.3);
}

/**
 * Auth page
 */

.auth .title {
    font-size: 18px;
}

.auth .notice {
    width: 583px;
    padding: 0 16px;
}

/**
 * Welcome page
 */
.update {
    margin: 0 auto;
    padding: 40px 10px;

    width: 100%;
    max-width: 1024px;

    text-align: left;
}

.update .dividers {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.12);
}

.update .desc {
    font-size: 16px;
    font-size: 1.6rem;
}

.update h1 {
    margin-top: 1.2em;
    margin-bottom: 0.6em;

    font-size: 3rem;
    font-weight: 300;
    line-height: 1.35;
}

.update h2 {
    margin-top: 1.2em;
    margin-bottom: 0.6em;

    line-height: 1.35;
    font-size: 2.3rem;
    font-weight: 300;
}

.update h3 {
    margin-top: 1.2em;
    margin-bottom: 0.6em;

    line-height: 1.35;
    font-size: 2rem;
    font-weight: 300;
}

.update a {
    padding-bottom: 2px;

    color: inherit;
    font-size: 1.6rem;
    font-weight: 400;

    text-decoration: none;
    border-bottom: 2px solid rgba(51, 51, 51, 0.12);
}

.update ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.update ul li {
    margin: 5px 0;
}

.update .infos {
    margin-top: 20px;
}

.update .info {
    font-size: 1.6rem;
}

.update .info img {
    margin: 10px;
    padding: 5px;

    max-width: 500px;

    background: #fff;

    border: 1px solid rgba(51, 51, 51, 0.35);
    box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.15);
}

.update .info .line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subtitle,
.update .info blockquote {
    margin: 20px 0;
    padding: 0 1em;

    font-size: 1.6rem;

    border-left: 0.25em solid #3e50b4;
}

.update .info b {
    margin: 0 2px;
}

.update .info span.number {
    display: block;
    margin-right: 5px;

    width: 18px;
    height: 18px;

    color: #fff;
    background: #ff3f80;

    border-radius: 50%;

    text-align: center;
    vertical-align: middle;

    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.update .info a {
    margin-left: 2px;
    padding-bottom: 0;

    font-size: inherit;
    font-weight: bold;
    text-decoration: none;

    transition: border-color .5s;
    border-bottom: 1px dotted #000;
}

.update .info code {
    margin: 0 2px;
    padding: 4px;

    font-family: inherit;
    font-size: 0.9rem;

    background-color: rgba(51, 51, 51, 0.15);
    border-radius: 3px;
}
