
:root {
  --text-color: #333;
  --secondary-color: color(#333 alpha(-30%));
  --background-color: #fafafa;
  --width: 700px;
}

* {
    box-sizing: border-box;
}

html {
    font: 300 16px/1.8 -apple-system, PingFang SC, Microsoft Yahei, Lantinghei SC, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-size: 62.5%;

    color: var(--text-color);
    background: var(--background-color);

    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;

    text-align: center;

    color: var(--text-color);
    background-color: var(--background-color);
}


.top {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100px;
}

.top ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    padding-right: 25px;

    width: 100%;

    list-style: none;
}

.top ul li {
    margin: 0 25px;
}

.top ul li a {
    padding-bottom: 5px;

    font-size: 1.3rem;
    font-weight: 500;

    color: var(--text-color);
    text-decoration: none;

    transition: border-color .5s;
    border-bottom: 2px solid transparent;
}

.top ul li a:hover {
    color: color( var(--secondary-color) alpha(-10%));
    border-bottom: 2px solid var(--secondary-color);
}