
:root {
  --text-color: #333;
  --secondary-color: color(#333 alpha(-30%));
  --background-color: #fff;
  --width: 728px;
}

* {
    box-sizing: border-box;
}

html {
    font: 300 16px/1.8 -apple-system, PingFang SC, Microsoft Yahei, Lantinghei SC, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-size: 62.5%;

    color: var(--text-color);
    background: var(--background-color);

    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: #4285f4;
    text-decoration: none;
}

.top {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 310px;

    background-color: #2196f3;

    overflow: hidden;
}

.main {
    position: relative;

    top: 62px;

    margin: 0 auto;
    margin-bottom: 24px;
    padding: 0;

    max-width: var(--width);
    width: var(--width);
    height: 100%;

    background-color: var(--background-color);

    text-align: center;

    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.26);
}

.banner {
    width: 100%;
    height: 200px;

    background-image: url( '../images/banner-0.png' );
}

.tabscontainer {
    width: 100%;

    color: inherit;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 80px auto 0;

    max-width: var(--width);
    width: var(--width);
    height: 100px;

    color: var(--secondary-color);

    font-size: 1.3rem;

    border-top: 1px solid rgba(0,0,0,0.12);
}

/*
tabs {
    display: block;

    width: 100%;
}

tab-header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    position: relative;

    width: 100%;

    background-color: rgb(153,204,255);
}

tab-label {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    padding: 0 24px;

    width: 100%;
    height: 48px;

    color: rgba(255, 255, 255, .7);
    background-color: transparent;

    font-size: 1.4rem;
    text-transform: uppercase;
}

tab-label a {
    color: inherit;
    background-color: transparent;

    text-decoration: none;
}

tab-border {
    display: block;
    position: absolute;

    bottom: 0;

    width: 100%;
    height: 4px;

    border-bottom: 4px solid #EEFF41;

    transform: scaleX(0);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

tab-shadow {
    display: block;
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .26);
}

.tabactive {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
}

.borderactive {
    transform: scaleX(1);
}

tab-groups {
    display: block;

    width: 100%;
}

tab-group {
    display: none;
}

.groupactive {
    display: block;
}
*/