
:root {
  --text-color: #333;
  --secondary-color: color(#333 alpha(-30%));
  --background-color: #fff;
  --width: 740px;
}

* {
    box-sizing: border-box;
}

html {
    font: 300 16px/1.8 -apple-system, PingFang SC, Microsoft Yahei, Lantinghei SC, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-size: 62.5%;

    color: var(--text-color);
    background: var(--background-color);

    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;

    background-color: #fafafa;
}

a {
    color: #4285f4;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 65px;

    background-color: black;

    box-shadow: 0 2px 5px rgba(0,0,0,.26);

    opacity: 0;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

    z-index: 1000;
}

.header .nav,
.header .title {
    margin-left: 12px;
}

.header .title {
    color: var(--background-color);

    height: 48px;

    font-size: 2rem;
    font-weight: 700;

    line-height: 48px;
}

.top {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 249px;

    background-color: #2196f3;

    overflow: hidden;

    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.main {
    position: relative;

    top: 200px;

    margin: 0 auto;
    margin-bottom: 24px;
    padding: 0;

    max-width: var(--width);
    width: var(--width);

    background-color: var(--background-color);

    text-align: center;

    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.26);
}

.tabscontainer {
    width: 100%;

    color: inherit;
}

.tabscontainer section {
    display: -webkit-flex;
    flex-direction:column;
    align-items: center;

    padding: 50px;

    overflow-y: auto;
    box-sizing: border-box;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 80px auto 0;
    padding: 200px 0 50px 0;

    max-width: var(--width);
    width: var(--width);

    color: var(--secondary-color);
    font-size: 1.3rem;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba( 51, 51, 51, .8 );

    z-index: 3;
}

/**
 *  Labs style
 */
.lab {
    /*margin-bottom: 20px;*/
    padding: 10px;

    width: 100%;

    background-color: #fff;
    border-radius: 2px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    /*border: 1.1px solid #e7e7e7;*/
}

.main_labs {
    background: transparent;
    box-shadow: none;
}

#labs .label {
    height: 56px;
    line-height: 56px;

    color: #616161;
    text-align: left;

    font-size: 1.5rem;
    font-weight: 700;

    /*border-bottom: 1px solid rgba(0, 0, 0, .12);*/
}

#labs .sublabel {
    display: -webkit-box;
    flex-shrink: 1;

    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    overflow: hidden;

    text-overflow: ellipsis;
    text-align: left;

    color: rgba( 51, 51, 51, .54 );
}

#labs .more {
    width: 100%;
    /*height: 37px;*/

    font-size: 1.4rem;
    font-weight: 400;

    text-align: left;
    /*line-height: 37px;*/

    user-select: none;
    cursor: pointer;
}

#labs .more .desc {
    color: #757575;
    font-size: 1rem;
}

#labs .more .arrow {
    display: block;
    position: absolute;

    right: 22px;
    bottom: 22px;

    width: 24px;
    height: 24px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAV1BMVEUAAAD////ExMS2tra/v7/Dw8O8vLzCwsK5ubnCwsK6urq+vr68vLy9vb29vb28vLy9vb29vb29vb29vb29vb29vb29vb29vb2+vr6+vr69vb29vb29vb2oiyseAAAAHHRSTlMAAQ0OEBETFRYZGkpMg8rLzM7R0tPW19je4uTlotOuxwAAAAFiS0dEAf8CLd4AAAB1SURBVCjPrdLHDoAgEATQUbH33vb/v1PEEnVXT85pM48QCAC/JhloC3AOJiO9wDms8UoZdN9KEHZUuAKEPeUuOGw9h0j36nqPHVi/g19RE9y3NoNenylwcGqqfQiANFMQwbIhAz/lB0z0yHg81Hzvp/jfj7AA4P8P+rUn4dEAAAAASUVORK5CYII=);
    background-position: center;
    background-repeat: no-repeat;
}