
:root {
  --text-color: #333;
  --secondary-color: color(#333 alpha(-30%));
  --background-color: #fff;
  --width: 700px;
}

* {
    box-sizing: border-box;
}

html {
    font: 300 16px/1.8 -apple-system, PingFang SC, Microsoft Yahei, Lantinghei SC, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-size: 62.5%;

    color: var(--text-color);
    background: var(--background-color);

    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;

    background-color: #fafafa;
}

a {
    color: #4285f4;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 65px;

    background-color: black;

    box-shadow: 0 2px 5px rgba(0,0,0,.26);

    opacity: 0;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

    z-index: 1000;
}

.header .nav,
.header .title {
    margin-left: 12px;
}

.header .title {
    color: var(--background-color);

    height: 48px;

    font-size: 2rem;
    font-weight: 700;

    line-height: 48px;
}

.top {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 249px;

    background-color: #2196f3;

    overflow: hidden;

    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.main {
    position: relative;

    top: 200px;

    margin: 0 auto;
    margin-bottom: 24px;
    padding: 0;

    max-width: var(--width);
    width: var(--width);

    background-color: var(--background-color);

    text-align: center;

    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.26);
}

.tabscontainer {
    width: 100%;

    color: inherit;
}

.tabscontainer section {
    display: -webkit-flex;
    flex-direction:column;
    align-items: center;

    padding: 50px;

    overflow-y: auto;
    box-sizing: border-box;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 80px auto 0;
    padding: 200px 0 50px 0;

    max-width: var(--width);
    width: var(--width);

    color: var(--secondary-color);
    font-size: 1.3rem;
}

/*
list {
    display: flex;
    flex-direction: column;
}

list-header {
    display: block;

    padding-left: 72px;

    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
}

list-item {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 56px;
}

list-item pri-item {
    display: block;

    min-width: 40px;
    min-height: 40px;

    margin: 0 16px;
    padding: 0;

    line-height: 40px;
    font-weight: 600;

    border-radius: 50%;

    background-color: #E57373;
}

list-item content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

list-item content a {
    display: -webkit-box;

    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

    font-size: 1.6rem;
    color: inherit;
}

list-item content subtitle {
    display: -webkit-box;

    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

    color: rgba(0, 0, 0, 0.541176);
}

list-item sec-item {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    margin: 0 16px;

    min-width: 50px;

    overflow: hidden;
    text-overflow: ellipsis;
}

list-item action {
    display: block;
    position: relative;

    margin: 0 16px 0 0 ;
    padding: 0;
}

list-item action action-icon {
    display: block;

    width: 21px;
    height: 21px;

    line-height: 21px;

    border-radius: 50%;

    cursor: pointer;

    background-position: center;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAHdElNRQfhBAwKJDqU6cY9AAAAgElEQVQ4y+3PsQnCYBRF4U+xcQYRHEcdwLhASOE8avEjSsApBIOWOoFYSRZxgBh8WueU73Lu49Lxnd7ncxrKvPKqmfRbip72zmkZF0ZgGhd2YN0MBi3CykWd33/ZUKpSFhfGYBYXDmAT31A4qfNb/MPD0TUt4sIEzONCCbY6/uIN+soX7VMadxMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTctMDQtMTJUMTA6MzY6NTgrMDg6MDBBhh2RAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE3LTA0LTEyVDEwOjM2OjU4KzA4OjAwMNulLQAAAABJRU5ErkJggg==);
}

list-item action action-items {
    display: block;
    position: absolute;

    top: 0;
    right: 0;

    margin: 0;
    padding: 8px 0;

    min-width: 150px;

    background-color: #fff;

    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;

    opacity: 0;
    transform-origin: left top 0px;
    transform: scaleY(0);
    transition : transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;

    z-index: 0;
}

list-item .action_items_active {
    opacity: 1;
    transform: scaleY(1);

    z-index: 100;
}

list-item .action_items_over {
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: rgb(238, 238, 238);
}

list-item action action-bg {
    display: none;
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

list-item action action-item {
    display: -webkit-box;

    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    margin: 0;
    padding: 0 24px;

    height: 32px;

    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

    line-height: 32px;
    font-size: 1.4rem;

    text-align: left;

    cursor: pointer;

    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

list-item action hr {
    margin: 8px 0;
    height: 1px;
    border: none;
    background-color: rgb(224, 224, 224);
}

list-item action .disable {
    color: rgba(204, 204, 204, 1);
    cursor: not-allowed;
}
*/