/**
 * Golbal style
 */

.simpread-font {
    font: 300 16px/1.8 -apple-system, PingFang SC, Microsoft Yahei, Lantinghei SC, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;

    color:#333;

    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.simpread-hidden {
    display: none;
}

/**
 *  Focus: Background( root ) style
 */
.simpread-focus-root {
    display: block;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba( 235, 235, 235, 0.9 );
    z-index: 2147483645;

    animation: focus-show 0.5s linear;
}

@keyframes focus-show {
    from { opacity:0; }
    to   { opacity:1; }
}

.simpread-focus-highlight {
    position: relative;

    box-shadow: 0 0 0 20px #fff;
    background-color: #fff;

    overflow: visible;
    z-index: 2147483646;
}

/**
 *  Option: background( root ) style
 */
.simpread-option-root {
    display: -webkit-flex;
    justify-content:center;
    align-items:center;

    position: fixed;

    top:  0;
    left: 0;
    width: 100%;
    height: 100%;

    color: #fff;

    text-shadow: 0 1px rgba(0,0,0,0.3);

    will-change: opacity, top, transform;
    animation: popupshow 0.5s ease;

    z-index: 2147483647;
}

@keyframes popupshow {
    from {
        opacity: 0;
        top: 100px;
        -webkit-transform: scaleX(0);
    }
    to {
        opacity: 1;
        top: 0;
        -webkit-transform: scaleX(1);
    }
}

@keyframes popuphide {
    from {
        opacity: 1;
        top: 0;
        -webkit-transform: scaleX(1);
    }
    to {
        opacity: 0;
        top: 100px;
        -webkit-transform: scaleX(0);
    }
}

.simpread-option-root-hide {
    animation: popuphide 0.5s ease;
}

/**
 * Dialog: style
*/
sr-dialog {
    display: -webkit-flex;
    flex-direction:column;

    min-width: 480px;
    min-height: 300px;

    margin: 0;
    padding: 0;

    color: rgba(0, 0, 0, 0.870588);
    background-color: rgb(255, 255, 255);

    border-radius: 3px;

    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;

}

sr-dialog sr-dialog-content {
    width: 100%;
    height: 100%;

    min-height: 244px;
    max-height: 665px;

    padding: 39px 24px 0;

    overflow-y: auto;
    box-sizing: border-box;
}

sr-dialog sr-dialog-footer {
    display: -webkit-flex;
    flex-flow:row nowrap;
    justify-content:flex-end;

    width: 100%;
    box-sizing: border-box;
}

/**
 *  Option: Focus/Read mode
 */
sr-opt-focus,
sr-opt-read {
    display: -webkit-flex;
    flex-direction:column;

    width: 100%;
    height: 100%;
}

sr-opt-gp {
    display: -webkit-flex;
    position: relative;

    flex-flow:row nowrap;
    justify-content:flex-start;

    width: 100%;
    margin-bottom: 25px;

    font-size: 15px;
}

sr-opt-gp sr-opt-label {
    display: block;
    position: absolute;

    margin: -8px 0 0 0;

    font-size: 14px;
    font-weight: bold;

    color: rgba(0, 137, 123, .8);

    user-select: none;
    pointer-events: none;

    transform: scale(0.75) translate( 0px, -8px );
    transform-origin: left top 0px;
}

sr-opt-themes {
    display: -webkit-flex;
    flex-flow:row nowrap;
    justify-content:space-between;

    width: 100%;
    height: 100%;

    margin: 8px 0 17px;
    padding: 0;
}

sr-opt-theme {
    width: 40px;
    height: 20px;

    cursor: pointer;
    list-style: none;

    border-radius: 3px;
    border: 1px solid #212121;
    box-sizing: border-box;

    opacity: 1;
    transition: all 500ms opacity 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

sr-opt-theme:hover {
    opacity: .2;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

sr-opt-theme:not(:first-child) {
    margin-left: 5px;
}

sr-opt-theme[sr-type="active"] {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),0 2px 20px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.7);
}

opacity {
    margin: 8px 0 0 0;

    width: 100%;
    height: 37px;
}

opacity input[type=range] {
    width: 100%;

    margin: 6px 0;
    padding: 0;

    border: none;
    background-color: transparent;
    -webkit-appearance: none;
}

opacity input[type=range]:focus {
    outline: none;
}

opacity input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;

    background: #9e9e9e;

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5), 0px 0px 0px rgba(13, 13, 13, 0.5);
    border-radius: 1.3px;

    transition: all 0.3s;
    cursor: pointer;
}

opacity input[type=range]::-webkit-slider-runnable-track:hover {
    background: #00897B;
}

opacity input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;

    margin-top: -9px;

    background: rgba(0, 137, 123, 1);

    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50px;

    cursor: pointer;
    -webkit-appearance: none;
    transition: all .5s ease-in-out .1s;
}

opacity input[type=range]:focus::-webkit-slider-thumb {
    background: #00897B;
}

opacity input[type=range]:focus::-webkit-slider-thumb:hover {
    background: #00695C;
}

opacity input[type=range]:focus::-webkit-slider-runnable-track {
    background: #00897B;
}

/**
 *  Read: background( root ) style
 */
.simpread-read-root {
    display: -webkit-flex;
    justify-content:center;
    align-items:center;

    position: relative;

    top: 0;
    left: 0;

    width: 100%;

    z-index: 2147483646;

    will-change: opacity, top;
    animation: readmodeshow 0.5s ease;
}

.simpread-read-root-hide {
    animation: readmodehide 0.3s ease;
    position: fixed;
}

@keyframes readmodeshow {
    from {
        opacity: 0;
        top: 10000px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

@keyframes readmodehide {
    from {
        opacity: 1;
        top: 0;
    }
    to {
        opacity: 0;
        top: 10000px;
    }
}

/**
 * Read: Read mode style
 */
sr-read {
    display: -webkit-flex;
    flex-flow:column nowrap;

    min-width: 400px;
    min-height: 400px;

    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;

    margin-left: 20%;
    margin-right: 20%;
}

read-process {
    position: fixed;

    top: 0;
    left: 0;

    height: 3px;
    width: 100%;
}

sr-rd-content-error {
    display: block;
    position: relative;

    margin: 0px;
    margin-bottom: 30px;
    padding: 25px;

    background-color: rgba(0,0,0,0.05);
}

sr-rd-footer {
    display: block;

    margin-top: 10px;
    padding: 40px 0 30px;

    text-align: center;

    border-top: 1px solid #E0E0E0;
    clear: both;
}

sr-rd-footer-text {
    display: block;

    width: 100px;

    margin: 20px auto;
    padding: 10px 20px;

    color: #fff;
    background: #424242;

    border-radius: 5px;

    font-size: 20px;
    text-align: center;

    box-sizing: border-box;
}

sr-rd-footer-copywrite {
    display: block;

    padding: 0;
    margin-bottom: 20px;

    min-height: 24px;

    color: #787878;

    font-size: 17px;
    font-weight: 700;

    box-sizing: border-box;
}

sr-rd-footer-copywrite a,
sr-rd-footer-copywrite a:link {
    margin: 0;
    padding: 0;

    color: #787878;
    background-color: transparent;

    font-size: 17px;
    line-height: initial;
    text-decoration: none;

    box-sizing: border-box;
}

sr-rd-footer-copywrite a:hover,
sr-rd-footer-copywrite a:focus,
sr-rd-footer a:active {
    color: #787878;
    text-decoration: underline;
}
