/**
 * Golbal style
 */

.simpread-font {
    font: 300 16px/1.8 -apple-system, PingFang SC, Microsoft Yahei, Lantinghei SC, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;

    color:#333;

    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.simpread-hidden {
    display: none;
}

/**
 *  Focus: Background( root ) style
 */
.simpread-focus-root {
    display: block;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba( 235, 235, 235, 0.9 );
    z-index: 2147483645;

    opacity: 0;
    transition : opacity 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.simpread-focus-highlight {
    position: relative;

    box-shadow: 0 0 0 20px #fff;
    background-color: #fff;

    overflow: visible;
    z-index: 2147483646;
}

.sr-controlbar-bg sr-rd-crlbar {
    z-index: 2147483647;
}

.sr-controlbar-bg sr-rd-crlbar fab {
    z-index: 2147483647;
}

/**
 *  Read: background( root ) style
 */
.simpread-read-root {
    display: -webkit-flex;
    justify-content:center;
    align-items:center;

    position: relative;
    margin: 0;

    top: -1000px;
    left: 0;

    width: 100%;

    z-index: 2147483646;

    overflow-x: hidden;
    opacity: 0;
    transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
}

.simpread-read-root-show {
    top: 0;
}

.simpread-read-root-hide {
    top: 1000px;
}

/**
 * Read: Read mode style
 */
sr-read {
    display: -webkit-flex;
    flex-flow:column nowrap;

    margin: 20px 20%;

    min-width: 400px;
    min-height: 400px;

    text-align: center;
}

read-process {
    position: fixed;

    top: 0;
    left: 0;

    height: 3px;
    width: 100%;

    background-color: #64B5F6;
    transition: width 2s;
    z-index: 20000;
}

sr-rd-content-error {
    display: block;
    position: relative;

    margin: 0px;
    margin-bottom: 30px;
    padding: 25px;

    background-color: rgba(0,0,0,0.05);
}

sr-rd-footer {
    display: flex;
    flex-direction: column;

    font-size: 14px;
}

sr-rd-footer-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

sr-rd-footer-line {
    width: 100%;
    border-top: 1px solid #E0E0E0;
}

sr-rd-footer-text {
    min-width: 150px;
}

sr-rd-footer-copywrite {
    margin: 10px 0 0 0;
    color: inherit;
}

sr-rd-footer-copywrite abbr {
    font-variant: normal;
    text-decoration: none;
    /*border-bottom: 1px dotted;*/
}

sr-rd-footer-copywrite .second {
    margin: 10px 0;
}

sr-rd-footer-copywrite .third a:hover {
    border: none!important;
}

sr-rd-footer-copywrite .third a:first-child {
    margin-right: 50px;
}

sr-rd-footer-copywrite .sr-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 33px;
    height: 33px;

    opacity: .8;

    transition: opacity .5s ease;
    cursor: pointer;
}

sr-rd-footer-copywrite .sr-icon:hover {
    opacity: 1;
}

sr-rd-footer-copywrite a,
sr-rd-footer-copywrite a:link,
sr-rd-footer-copywrite a:visited {
    margin: 0;
    padding: 0;

    color: inherit;
    background-color: transparent;

    font-size: inherit!important;
    line-height: initial;
    text-decoration: none;
    vertical-align: initial;

    border: none!important;
    /*border-bottom: 1px dotted!important;*/

    box-sizing: border-box;
}

sr-rd-footer-copywrite a:hover,
sr-rd-footer-copywrite a:focus,
sr-rd-footer a:active {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted!important;
}

/**
 * Controlbar: focus mode and read mode
 */
sr-rd-crlbar.controlbar {
    position: fixed;

    right: 0;
    bottom: 0;

    width: 100px;
    height: 100%;

    opacity: 0;
    transition: opacity .5s ease;
}

sr-rd-crlbar.controlbar:hover {
    opacity: 1;
}

/**
 * Golbal
*/
@media all and ( max-height: 620px ) {

    fab {
        zoom: .8;
    }

}

@media all and ( max-height: 783px ) {

    dialog-gp dialog-content {
        max-height: 580px;
    }

    dialog-gp dialog-footer {
        border-top: 1px solid rgba(224, 224, 224, 1);
    }

}

/**
 * Highlight
 */
.simpread-highlight-selector {
    background-color: #fafafa;
    outline: 3px dashed #1976d2;
    opacity: .8;
    cursor: pointer;
    transition: opacity .5s ease;
}

.simpread-highlight-controlbar {
    position: relative;
    background-color: #fafafa;
    outline: 3px dashed #1976d2;
    opacity: .8;
    transition: opacity .5s ease;
}


sr-highlight-group {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;

    padding: 15px;

    height: 24px;

    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);

    z-index: 2147483640;
}

sr-highlight-ctl {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 5px;

    width: 50px;

    color: #fff;
    background-color: #1976d2;

    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0,0,0,.12);
    cursor: pointer;
}

/**
 * TOC
 */
toc-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: 200px;

    font-size: initial;
}

toc-bg:hover {
    z-index: 3;
}

.toc-bg-hidden {
    opacity: 0;
    transition: opacity .5s ease;
}

.toc-bg-hidden:hover {
    opacity: 1;
    z-index: 3;
}

.toc-bg-hidden:hover toc {
    width: 180px;
}

toc * {
    all: unset;
}

toc {
    position: fixed;
    left: 0;
    top: 100px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 10px;

    width: 0;
    max-width: 200px;
    max-height: 500px;

    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
    border: 1px solid rgba(158, 158, 158, 0.22);
    transition: width .5s;
}

toc:hover {
    overflow-y: auto;
}

toc::-webkit-scrollbar {
    width: 3px;
}

toc::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(139,137,134,0.5);
}


toc outline {
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 2px 0;
    min-height: 21px;

    line-height: 21px;
    text-align: left;
}

toc outline a,
toc outline a:active,
toc outline a:visited,
toc outline a:focus
{
    display: block;

    width: 100%;

    color: inherit;
    font-size: 11px;
    text-decoration: none!important;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

toc outline a:hover {
    font-weight: bold!important;
}

toc outline a.toc-outline-theme-dark,
toc outline a.toc-outline-theme-night {
    color: #fff!important;
}

.toc-level-h1 {
    padding-left: 5px;
}
.toc-level-h2 {
    padding-left: 15px;
}
.toc-level-h3 {
    padding-left: 25px;
}
.toc-level-h4 {
    padding-left: 35px;
}

.toc-outline-active {
    border-left: 2px solid rgb(244, 67, 54);
}

toc outline active {
    position: absolute;

    left: 0;
    top: 0;
    bottom: 0;

    padding: 0 0 0 3px;

    border-left: 2px solid #e8e8e8;

}

/**
 * Keyboard
 */

sr-kbd {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 247, 133)), to(rgb(255, 197, 66)));
    border-width: 1px;
    border-style: solid;
    border-color: rgb(227, 190, 35);
    border-image: initial;

    position: absolute;
    left: 0;
    padding: 1px 3px 0px;

    font-size: 11px!important;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 7px 0px;
    overflow: hidden;
    border-radius: 3px;
}

.sr-kbd-a {
    position: relative;
}

kbd-mapping {
    position: fixed;
    left: 5px;
    bottom: 5px;

    display: flex;
    flex-direction: column;
    flex-flow: row;

    width: 500px;
    height: 590px;

    background-color: #fff;

    border: 1px solid rgba(158, 158, 158, .22);
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    border-radius: 3px;
}

kbd-maps {
    display: flex;
    flex-flow: column wrap;
    margin-top: 40px;
}

kbd-mapping kbd-map-title {
    position: absolute;
    margin: 5px 0;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}

kbd-maps-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

kbd-maps-title {
    margin: 5px 0;
    padding-left: 53px;

    font-size: 12px;
    font-weight: bold;
}

kbd-map kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
}

kbd-map kbd-name {
    display: inline-block;
    text-align: right;

    width: 50px;
}

kbd-map kbd-desc {
    padding-left: 3px;
}

/**
 * Share card
 */

sharecard-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, .4);

    z-index: 2147483647;
}

sharecard {
    display: flex;
    flex-direction: column;

    max-width: 450px;

    background-color: rgb(100, 181, 246);
}

sharecard-head {
    display: flex;
    flex-direction: column;

    margin: 25px;

    color: #fff;

    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

sharecard-card {
    display: flex;
    flex-direction: column;
}

sharecard-top {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-right: 5px;

    height: 65px;
    background-color: #fff;

    color: #878787;
    font-size: 25px;
    font-weight: 500;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

sharecard-top span.logos {
    display: block;

    width: 48px;
    height: 48px;

    margin: 5px;

    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAABU1BMVEUAAAAnNJMnNZI3Q5onNJInNJMnNJInNJMnNJI8SJ0tOZY/S55EUKAoNJI6RpwoNJNIU6InNJInNJImNJI7SJwmNJJ2fLUiMJFKVaNCTJ9faK1HUaJOWKVSXaUnNJNYY6pye7cmM5JXYKhwebMjMI8mL4719fW9vb0oNZP/UlLz8/QqN5TAwMAnNJPv7+/Pz8/q6+/p6enNzc3Kysry8vMsOJXc3env7/LU1uXo29vR0dHOzs7ExMTwjo73bW37XV3Aj1TCYELl5u3n5+fW2Obn6O7f4OrZ2+g0QJkxPpgvO5bh4uvS1OTP0ePCwsJQW6ZLVqTs7fHd3d3V1dXqv79VX6lET6A1TIxXUIBSgHxWQnpelHf+WVnopkXqbC7j5Ozi4uLDw8NGUaFATJ9SgH3r6+vGyd7BxNva2trX19ejqM2gpczHx8dze7Zha67Z2dlTgH1aXQeSAAAAJnRSTlMA6ff+497Y8NL+/fv49P379sqab/BeOiX06tzVy8m/tKqpalA7G6oKj0EAAAJlSURBVEjHndNXWxpBFIDhcS2ICRLAkt4Dx4WhLk0E6R0MYoIISrWX5P9f5cwSIRC2+T1czMV5n2FnZwn2eWONUqCAv3H2Uf5Ra1hx4+0WEXtDQW0fCPYJ1EffEfIV4CSROAE4jsePoTFsNmTJF/IeIHF2lgCIn57GodlqDWXBK7IwBYatVlMWFAildPKX7I3m74Z9fsCiQChoimoFQAz04Ad2gH1n9fv9n9hgMNDr9euLWD6fLxQKxaLfb7dTSlahbFVdEPwIQtrAihZQgyKCtCagbQe3xh0QFMgy5MR11+ewYY5/qlZ7vT2xu93ULKjbFLpiUxnIIwjgKmVTLDUFXMrAi2NJWCRLIthTBo4xyOLKpwyqU6CuDCI41hFBCVdOhyLw4FgJ1skCAiyl9BSHbCorgo6VJXTru5hrVCQS8Yr5xLzX59YJSFpVFwD9U0BGC3hGdFpATgRupTGe9R9I1b1ePBvXKDyvq/O/44LT4/E4BUbSCAwj8Evq6HlnOBprx6JhJz8Gktc7xeaP9ndY+0coQvCccFBD4JW60UIY50ciLOAODAQRVOeCHm4Q3Xks6uRDY+CQ+AR4T2wMYh6+jMCIQOp78CFoj0H7EQgIuhI3dGaHCrwgADwCPjJvA372GRigCJg49FUdk3D87pq3zp4SA5zc1Zh9DxfwkpjgUg5Mv+lbeE3McC8Lpu7SA3wk2xzcqL2tN5DfIsQC8HB7UamUy6FQOpTO5QKBQDZbKnWSyUzGjdWCwaDA8+7Le4BNgm3qQGWchYh9s5hNq6wVbBlbwhZYOp3OYOA4zmgEypnM2zj8ByIdedKrH8vDAAAAAElFTkSuQmCC");

    zoom: .8;
}

sharecard-content {
    padding: 15px;

    max-height: 500px;

    font-size: 20px;
    text-align: left;

    background-color: rgb(33, 150, 243);

    overflow-x: hidden;
    overflow-y: auto;
}

sharecard-via {
    padding: 10px;
    font-size: 10px;

    background-color: rgb(33, 150, 243);
}

sharecard-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-right: 5px;

    height: 100px;
    background-color: #fff;

    color: #878787;
    font-size: 15px;
    font-weight: 500;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

sharecard-footer div {
    display: flex;
    align-items: center;
}

sharecard-footer span.qrcode {
    display: block;

    width: 100px;
    height: 100px;

    margin: 5px;

    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAA7VBMVEUAAAD///8ZGRnw8PBWVlb4+PgeHh719fVEREQlJSUODg6Ojo7Ly8v9/f1NTU2VlZUFBQV6enrCwsLy8vLh4eE0NDQLCwu8vLyXl5dxcXHa2trAwMCFhYVDQ0OysrKampo7OzssLCwICAioqKjJyckhISHu7u4/Pz9TU1NQUFBLS0tAQED6+vrS0tKRkZFISEgvLy+goKB+fn5vb29nZ2fm5uYbGxvk5OTX19d2dnZaWlre3t5hYWEyMjK5ubkoKCgVFRXQ0NDMzMzFxcW0tLSsrKykpKSMjIzq6urU1NSAgICvr6+cnJyHh4dsbGyfc25QAAAFkElEQVRIx4WXB3faMBCA74wHxgMMGAOh1MyyVyBAmtVmd/3/n1OdDtWstt/Li5JD35MtnU4CMnCIlkLEOpSKuMPhuI4FE444L9+dyv3zciad/rAjfU/yOPpGcjWS1NKSGsk29WTSD1IeYsIPkvsAJF+C5BIZkieYMNjJnsF4+JHk61wOSlVDyOIPqKBgZIxYTrqy/AmNtC1ps7yqlgE6dgYa1WqD5aV9SbKDbe6ZNnCq5A5ILlhGjEASIoawJdmHHo98AZLOnmxzKM9yK9Aht63FoAWBBmEgsEHnkfMgsZU8PJbpbXJd3MIep/Lg/MjbRqMRRuNtQ4Tthga5RiNzfmSWD97ZExQ64HhtgLb3CmbBGyj54vixjyeMsKjnV4AvOAHTwsHphKnH9toXki7Li3jLsgswizskv+c3PHKXe7ZHu5E/YMKcM2yqZIJkAclZTPClbJezivI1yTr4f+TeMib5qXxHsr7XtUFJDIc8pLAHA7Su4JXkd8ySnKZddQXH2NohswIutRu0Qu0jyS46JPugU+gISB1R8NBKWegVUsahTKEjAP9Bm5bKAc3DPlzjKaDvscE7PeEJu63WUg9a82tdA1O/ESupL9Cr6C1cXetjIe9zgQ4kvKLgHi6xC5LcGq9hhmiK0AYgUvLQtzm3n/x0jnum/Vo9j1jxg/pL3/f9W8isMOsv6/Ubf47rvl+u17nnZ1xQ+4iIXa6IpRVeimEEE3pnxO8kIz4CbFDyidVSpooBCCLLsj5noFlqUg2rwK0l+Anmm+VhCzKfrRHtqjGOLANxUKIUiYvFEcuaaZpXANniD5ZzpiBDTSRkuDJfWM6awxGuikUArp7fIOE7RlB6OygGTyhfsMyrtwDNIAkcp1YRhKC9Oh2IHUFQ6UPupnLL3icODaD5zVlUto7zhm1n7kmZ5kDSQBxykfZhD66eaQBoWriEGPcA182C4Crst90Z9NwvHgahDTALw/Ae4D500Pjq3oj/4sjtwcwVrCkkgB01HB8cdM0iIlWSr6IpNqFO+1mDHQFWORtO5EIi08b4jxy6giBsgKDnRnEYYdd9nIYvaLmuhS/h9DF5bEFr/7HTKAjUqWY1oUUBKgYEZdgIP6gJE2xQIWVvLhZBcAWx843kz87PDDi4cgR92s8/1FLpAGNeKiUbGtRQEIPkGb9TM1EF8MpCVEni7pIkkUdDs1ZcI/ZUer6YZg4WxTtqMmYsZJWebbOzEekZV4sCKaNhBaXQQ0NtjL71ZooNE1vWLfyyyFUbw7MsD0fWOFMSqAnbwj1Kuk0Aqp4aJ91MZhhvyS7+oQoMy5v63Jfoz/UYfPSiep2KQb5e4/gt1Ycdc7Se6jNyVbpuQNI08FrICQ6ccKnSXddrKCnqkqWFupJFAewKudSTBVAyBEjrLSXjCYnc5rrdQVl6VaiKqOTToi/kaSrlcW5fpGpgrlJTLvoGVxKDOg7PHzc6NLXOmuUHTZQhTWvS4T7T5ixPqGPz/EHXp/azkMeQoGOqBBOSq1gD4vwRe1culz8W8HlZKQt6Sjbm5XeS9eWizJw73HcsOW8mSpa0eT8zfK1w85LdtWKTf5dWfCPzMg5J+MBdsvvy6Q2QD/d91sfzouRz9zAdBp6HCcUzskccyBdKzjTC9ZE8HT8+JHLxtiE4d33Ud0uleOObvpXZk4E4/9h2sKD9t6oxgaCFxs9AHiI3wYJCndMbIMs9lLi7vEHFLxAUURyciOnTyzrLH6qSJwo+8CWuQIFL2wSoVyvQea/qtk2yvPtb4mekZMhJQkPwyvIzBbJGJD+jX3eGcfIFhWVmxsVAG5FMgSzm9y4wKL8aJdzvyctoTqEgep6K5lckWGM3uuuA5DadFvIhiTzBL1xzVtT0UDEDxd9ldeutcJLoyvUaoPgNdiqckZLamd0AAAAASUVORK5CYII=");
}

sharecard-control {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 19px;

    height: 80px;
    background-color: #fff;
}