
/**
 * Github style
 */

/**
 * Normal style
 */
sr-rd-content h1,sr-rd-content h2,sr-rd-content h3,sr-rd-content h4,sr-rd-content h5,sr-rd-content h6{position:relative;margin-top:1em;margin-bottom:16px;font-weight:bold;line-height:1.4;text-align:left;color: #363636;}sr-rd-content h1{padding-bottom:.3em;font-size:2.25em;line-height:1.2}sr-rd-content h2{padding-bottom:.3em;font-size:1.75em;line-height:1.225}sr-rd-content h3{font-size:1.5em;line-height:1.43}sr-rd-content h4{font-size:1.25em}sr-rd-content h5{font-size:1em}sr-rd-content h6{font-size:1em;color:#777}
sr-rd-content ul,sr-rd-content ol{list-style-type: disc;padding:0;margin-top:0;margin-bottom:0;margin-left: 3em;}sr-rd-content ol ol,sr-rd-content ul ol{list-style-type:lower-roman}sr-rd-content ul ul ol,sr-rd-content ul ol ol,sr-rd-content ol ul ol,sr-rd-content ol ol ol{list-style-type:lower-alpha}
sr-rd-content code{padding:0;padding-top:.2em;padding-bottom:.2em;margin:0;font-size:85%;background-color:rgba(0,0,0,0.04);border-radius:3px}sr-rd-content code:before,sr-rd-content code:after{letter-spacing:-0.2em;content:"\00a0"}sr-rd-content pre>code{padding:0;margin:0;font-size:100%;word-break:normal;white-space:pre;background:transparent;border:0}sr-rd-content pre{padding:16px;overflow:auto;font-size:85%;line-height:1.45;background-color:#f7f7f7;border-radius:3px}sr-rd-content pre{margin-bottom:0;word-break:normal}sr-rd-content pre{word-wrap:normal}sr-rd-content pre code{display:inline;max-width:initial;padding:0;margin:0;overflow:initial;line-height:inherit;word-wrap:normal;background-color:transparent;border:0}sr-rd-content pre code:before,sr-rd-content pre code:after{content:normal}
sr-rd-content table{display:block;width:100%;overflow:auto;word-break:normal;word-break:keep-all}sr-rd-content table th{font-weight:bold}sr-rd-content table th,sr-rd-content table td{padding:6px 13px;border:1px solid #ddd}sr-rd-content table tr{background-color:#fff;border-top:1px solid #ccc}sr-rd-content table tr:nth-child(2n){background-color:#f8f8f8}

.sr-rd-theme-bg {
    background-color: #fff;
}

sr-rd-title {
    font-family: "PT Sans","SF UI Display", ".PingFang SC","PingFang SC", "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Microsoft YaHei", "Microsoft JhengHei", "Helvetica Neue", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Hiragino Sans GB", sans-serif;
    text-rendering: optimizelegibility;
    margin-bottom: 1em;

    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
}

sr-rd-desc {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5rem;
    padding: 0 15px;

    font-style:italic;
    font-size:1.1em;
    line-height:1.8em;

    text-align: justify;

    border-left: 4px solid #dddddd;
    color: #777777;

}

sr-rd-content {
    color: #363636;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: justify;
}

sr-rd-content p,
sr-rd-content div {
    display: block;
    float: inherit;
    margin: 10px 0 10px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: #363636;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
}

sr-rd-content a {
    color: #4183c4;
    text-decoration: none;
    font-size: 15px;
}

sr-rd-content a:hover,
sr-rd-content a:focus,
sr-rd-content a:active {
    color: #4183c4;
    text-decoration: underline;
}


/*sr-rd-content img {
    border: 0;
    margin: 10px;
}*/

sr-rd-content pre {
    white-space: pre-wrap;
    display: block;
    background: #f8f8f8;
    padding: 10px 20px;
    border: none;
    margin-bottom: 25px;
    color: #666;
}

sr-rd-content sr-blockquote {
    display: block;
    position: relative;
    margin: 0px;
    background-color: rgba(0,0,0,0.05);
    padding: 25px;
    padding-left: 56px;
    margin-bottom: 30px;
}

sr-rd-content sr-blockquote:before {
    content: '“';
    position: absolute;
    top: 25px;
    left: 15px;
    font-family: "Arial";
    font-size: 80px;
    color: rgba(0,0,0,0.15);
}