sr-rd-theme-dark{display:none;}

/**
 * Dark style
 */

/**
 * Common style, include: h1 ~ h6; ol ul; code pre; table; sr-blockquote
 */

sr-rd-content h1,sr-rd-content h2,sr-rd-content h3,sr-rd-content h4,sr-rd-content h5,sr-rd-content h6{font-weight:700;color:#dbdbfd}sr-rd-content h1{font-size:3rem}sr-rd-content h2{font-size:2.8rem}sr-rd-content h3{font-size:2.5rem}sr-rd-content h4,sr-rd-content h5,sr-rd-content h6{color:#549ad8}sr-rd-content h5{font-size:2rem}sr-rd-content h6{font-size:1.8rem}
sr-rd-content strong {color: #ffffc5;} sr-rd-content em {color: #c885f5;}
sr-rd-content table{width:100%;line-height:1.6rem;border-collapse:collapse;border-spacing:0;empty-cells:show;border:1px solid #cbcbcb}sr-rd-content thead{background-color:#263238;color:#f5f5f5;text-align:left;vertical-align:bottom}sr-rd-content table td,sr-rd-content table th{border-left:1px solid #cbcbcb;border-width:0 0 0 1px;margin:0;overflow:visible;padding:.5em 1em}
sr-rd-content sr-blockquote {
    background-color: rgba(128, 128, 128, 0.05);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 8px solid #979797;
    color: rgb(235, 235, 235);
}

/**
 * Custom style, include: background; title; desc; sr-rd-content; p,div; a; pre
 */

.simpread-theme-root, .simpread-multi-root {
    color: rgb(235, 235, 235);
    background: rgb(34, 34, 34);
}

sr-rd-title {
    padding-bottom: .3em;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1.2;
    color: #dbdbfd;
    border-bottom: 1px solid #eee;
}

sr-rd-desc {
    margin: 20px;
    margin-left: 0;
    padding: 5px 20px;
    font-size: 1.8rem;
    background-color: rgba(128, 128, 128, 0.05);
    color: rgb(235, 235, 235);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 8px solid #979797;
}

sr-rd-content {
    line-height: 1.7;
    color: rgb(235, 235, 235);
}

sr-rd-content *,
sr-rd-content p,
sr-rd-content div {
    color: rgb(235, 235, 235);
    line-height: 1.7;
}

sr-rd-content a,
sr-rd-content a:link {
    color: #8ac9ff;
    text-decoration: underline;
}

sr-rd-content a:hover,
sr-rd-content a:focus,
sr-rd-content a:active {
    background-color: #2a6496;
    color: white;
    text-decoration: none;
}

sr-rd-content pre {
    color: #e9eded;
    background-color: #263238;
}

sr-rd-content li code,
sr-rd-content p code {
    color: #caca16;
    background-color: transparent;
}

/**
 * Multiple page
 */
sr-rd-mult {
    background-color: rgba(128, 128, 128, 0.1);
}