sr-rd-theme-engwrite{display:none;}

/**
 * EngWrite style
 */

/**
 * Common style, include: h1 ~ h6; ol ul; code pre; table; sr-blockquote
 */

sr-rd-content h1,sr-rd-content h2,sr-rd-content h3,sr-rd-content h4,sr-rd-content h5,sr-rd-content h6{margin:20px 0 10px;padding:0;font-weight:500;-webkit-font-smoothing:antialiased}sr-rd-content h1{font-weight:300;text-align:center;font-size:28px;color:#933d3f}sr-rd-content h2{font-size:24px;border-bottom:1px solid #ccc;color:#000}sr-rd-content h3{font-size:18px}sr-rd-content h4{font-size:16px}sr-rd-content h5{font-size:14px}sr-rd-content h6{color:#777;font-size:14px}
sr-rd-content ul,sr-rd-content ol{padding-left:30px}sr-rd-content ul li>:first-child,sr-rd-content ol li>:first-child,sr-rd-content ul li ul:first-of-type,sr-rd-content ol li ol:first-of-type,sr-rd-content ul li ol:first-of-type,sr-rd-content ol li ul:first-of-type{margin-top:0}sr-rd-content ul ul,sr-rd-content ul ol,sr-rd-content ol ol,sr-rd-content ol ul{margin-bottom:0}
sr-rd-content pre,sr-rd-content code,sr-rd-content tt{font-size:12px}sr-rd-content code,sr-rd-content tt{margin:0;padding:0;white-space:nowrap;border:1px solid #eaeaea;background-color:#f4ece3;border-radius:3px}sr-rd-content pre>code{margin:0;padding:0;white-space:pre;border:0;background:transparent}sr-rd-content pre{background-color:#f8f8f8;border:1px solid #ccc;font-size:13px;line-height:19px;overflow:auto;padding:6px 10px;border-radius:3px}sr-rd-content pre code,sr-rd-content pre tt{background-color:transparent;border:0}
sr-rd-content table th{font-weight:bold}sr-rd-content table th,sr-rd-content table td{border:1px solid #ccc;padding:6px 13px}sr-rd-content table tr{border-top:1px solid #ccc;background-color:#fff}sr-rd-content table tr:nth-child(2n){background-color:#f8f8f8}
sr-blockquote{border-top:1px dotted #cdc7bc;border-bottom:1px dotted #cdc7bc;padding:0 15px;background-color:#f8edda;color:#777}sr-blockquote>:first-child{margin-top:0}sr-blockquote>:last-child{margin-bottom:0}

/**
 * Custom style, include: background; title; desc; sr-rd-content; p,div; a; pre
 */

.sr-rd-theme-bg {
    background-color: rgb(252, 245, 237);
    color: rgb(51, 51, 51);
}

sr-rd-title {
    font-weight: 300;
    text-align: center;
    font-size: 28px;
    color: rgb(147, 61, 63);
}

sr-rd-desc {
    border-top: 1px dotted rgb(205, 199, 188);
    border-bottom: 1px dotted rgb(205, 199, 188);
    padding: 0px 15px;
    background-color: rgb(248, 237, 218);
    color: rgb(119, 119, 119);
}

sr-rd-content {
    font-size: 16px;
    line-height: 1.8;
    color: rgb(51, 51, 51);
    padding: 20px 0;
    margin: 0px auto;
}

sr-rd-content p,
sr-rd-content div {
    color: rgb(51, 51, 51);
    font-size: 16px;
    line-height: 1.8;
}

sr-rd-content a {
    color: rgb(174, 55, 55);
    text-decoration: none;
}

sr-rd-content a:hover,
sr-rd-content a:focus,
sr-rd-content a:active {
    color: rgb(174, 55, 55);
}

sr-rd-content pre {
    line-height: 19px;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(252, 245, 237);
}
