sr-rd-theme-night{display:none;}

/**
 * Night style
 */

/**
 * Common style, include: h1 ~ h6; ol ul; code pre; table; sr-blockquote
 */

sr-rd-content h1{margin-top:2em}sr-rd-content h1,sr-rd-content h2,sr-rd-content h3,sr-rd-content h4,sr-rd-content h5,sr-rd-content h6{color:#dedede}sr-rd-content h1,sr-rd-content h2,sr-rd-content h3,sr-rd-content h4,sr-rd-content h5,sr-rd-content h6{font-family:Lucida Grande,Corbal,Georgia,serif;font-weight:400;clear:both;-ms-word-wrap:break-word;word-wrap:break-word;margin:0;padding:0}sr-rd-content h1{font-size:3.6rem;line-height:4rem;margin-bottom:2.4rem;letter-spacing:-1.5px}sr-rd-content h2{font-size:2.4rem;line-height:3rem}sr-rd-content h2,sr-rd-content h3{margin-bottom:2.4rem;letter-spacing:-1px}sr-rd-content h3{font-size:1.8rem;line-height:2.4rem}sr-rd-content h4{font-size:1.6rem;line-height:2.2rem;margin-bottom:2.4rem}sr-rd-content h5{font-size:1rem;line-height:1.25rem;margin-bottom:1.5rem}sr-rd-content h6{font-size:1.6rem;line-height:1.6rem;margin-bottom:.75rem;font-weight:700}
sr-rd-content ul,sr-rd-content ol{padding:0 0 0 1.875rem}sr-rd-content ul{list-style:square}sr-rd-content ol{list-style:decimal}sr-rd-content ul ul,sr-rd-content ol ol,sr-rd-content ul ol,sr-rd-content ol ul{margin:0}sr-rd-content li div{padding-top:0}sr-rd-content li p,sr-rd-content li{margin:0;position:relative}
sr-rd-content pre{background:0 0}sr-rd-content pre code,sr-rd-content pre code *{font-size:1.2rem}sr-rd-content li code,sr-rd-content p code{padding:2px 5px;font-size:1.2rem;text-align:left;background:rgba(0,0,0,.05)}sr-rd-content table{max-width:100%;width:100%;border-collapse:collapse;border-spacing:0}sr-rd-content th,sr-rd-content td{padding:5px 10px;vertical-align:top}sr-rd-content table a{color:#dedede}sr-rd-content th,sr-rd-content td{border:solid 1px #474d54}
sr-blockquote{
    margin: 0 0 1.875rem 1.875rem;
    border-left: solid 2px #474d54;
    padding-left: 30px;
    margin-top: 35px;
}

/**
 * Custom style, include: background; title; desc; sr-rd-content; p,div; a; pre
 */

.sr-rd-theme-bg {
    background: rgb(54, 59, 64);
    color: #b8bfc6;
}

sr-rd-title {
    color: #DEDEDE;
    font-size: 3.15rem;
    line-height: 3.5rem;
    letter-spacing: -1.5px;
}

sr-rd-desc {
    color: #b8bfc6;
    border-left: solid 2px #474d54;
    margin: 0 0 1.875rem 1.875rem;
    margin-top: 35px;
    padding-left: 1.875rem;
}

sr-rd-content {
    color: #b8bfc6;
}

sr-rd-content *,
sr-rd-content p,
sr-rd-content div {
    color: #b8bfc6;
    margin-top: 0;
}

sr-rd-content a,
sr-rd-content a:link {
    color: #e0e0e0;
    text-decoration: underline;
    transition: all .2s ease-in-out;
}

sr-rd-content a:hover,
sr-rd-content a:focus,
sr-rd-content a:active {
    color: #fff;
}

sr-rd-content pre {
    padding: 10px 30px;
    margin-bottom: 20px;
    border: 1px solid;
}
