sr-rd-theme-pixyii{display:none;}

/**
 * Pixyii style
 */

/**
 * Common style, include: h1 ~ h6; ol ul; code pre; table; sr-blockquote
 */

sr-rd-content h1,sr-rd-content h1 *,sr-rd-content h2,sr-rd-content h2 *,sr-rd-content h3,sr-rd-content h3 *,sr-rd-content h4,sr-rd-content h4 *,sr-rd-content h5,sr-rd-content h5 *,sr-rd-content h6,sr-rd-content h6 *{color:inherit;font-weight:900;line-height:1.2;margin:1em 0 1em}sr-rd-content h1,sr-rd-content h1 *{font-size:3.92rem}sr-rd-content h2,sr-rd-content h2 *{font-size:3.64rem}sr-rd-content h3,sr-rd-content h3 *{font-size:2.275rem}sr-rd-content h4,sr-rd-content h4 *{font-size:1.82rem}sr-rd-content h5,sr-rd-content h5 *,sr-rd-content h6,sr-rd-content h6 *{font-size:1.573rem}
sr-rd-content ol,sr-rd-content ul{font-size:1.75rem;line-height:1.5rem}sr-rd-content li{font-size:1.575rem;line-height:1.8;margin:0;position:relative}
sr-rd-content table{width:100%;font-size:1.575rem}sr-rd-content table>thead>tr>th,sr-rd-content table>thead>tr>td,sr-rd-content table>tbody>tr>th,sr-rd-content table>tbody>tr>td,sr-rd-content table>tfoot>tr>th,sr-rd-content table>tfoot>tr>td{padding:12px;line-height:1.2;vertical-align:top;border-top:1px solid #333}sr-rd-content table>thead>tr>th{vertical-align:bottom;border-bottom:2px solid #333}sr-rd-content table>caption+thead>tr:first-child>th,sr-rd-content table>caption+thead>tr:first-child>td,sr-rd-content table>colgroup+thead>tr:first-child>th,sr-rd-content table>colgroup+thead>tr:first-child>td,sr-rd-content table>thead:first-child>tr:first-child>th,sr-rd-content table>thead:first-child>tr:first-child>td{border-top:0}sr-rd-content table>tbody+tbody{border-top:2px solid #333}
sr-rd-content sr-blockquote {
    margin: 1rem 0px;
    padding: 1.33em;
    font-style: italic;
    border-left: 5px solid rgb(122, 122, 122);
    color: rgb(85, 85, 85);
}

/**
 * Custom style, include: background; title; desc; sr-rd-content; p,div; a; pre
 */

.simpread-theme-root {
    background-color: rgb(255, 255, 255);
    color: rgb(85, 85, 85);
}

sr-rd-title {
    font-family: PingFang SC,Hiragino Sans GB,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif;
    font-size: 4.2rem;
    font-weight: 900;
    line-height: 1.2;
}

sr-rd-desc {
    margin: 1rem 0px;
    padding: 1.33em;
    font-style: italic;
    font-size: 2rem;
    line-height: 2;
    border-left: 5px solid rgb(122, 122, 122);
    color: rgb(85, 85, 85);
}

sr-rd-content {
    font-size: 2.1rem;
    line-height: 1.8;
    font-weight: 400;
    color: rgb(85, 85, 85);
}

sr-rd-content *,
sr-rd-content p,
sr-rd-content div {
    color: rgb(85, 85, 85);
    font-size: 1.75rem;
    line-height: 1.8;
    font-weight: 300;
}

sr-rd-content strong {
    font-weight: 400;
}

sr-rd-content a,
sr-rd-content a:link {
    color: rgb(70, 63, 92);
    text-decoration: underline;
}

sr-rd-content a:hover,
sr-rd-content a:focus,
sr-rd-content a:active {
    color: rgb(70, 63, 92);
    text-decoration: underline;
}

sr-rd-content sr-blockquote code {
    font-size: inherit;
}

sr-rd-content pre {
    color: rgb(122, 122, 122);
    background-color: transparent;
    border: 1px solid rgb(122, 122, 122);
}

sr-rd-content li code,
sr-rd-content p code {
    color: rgb(122, 122, 122);
    background-color: transparent;
}

/**
 * Multiple page
 */

 .simpread-multi-root {
    background: #F8F9FA;
}