/**
 * Common style, include:
 * .simpread-theme-root
 * sr-rd-title, sr-rd-desc, sr-rd-content, p, div, a, img, pre, code, sr-blockquote, ul ol
 */
 
 .simpread-theme-root {
    font-size: 62.5%!important;
}

sr-rd-title, sr-rd-desc, sr-rd-content {
    width: 100%;
}

sr-rd-title {
    text-rendering: optimizelegibility;
    margin: 1em 0px 0.5em;
}

sr-rd-content {
    text-align: left;
    word-break: break-word;
}

sr-rd-desc {
    text-align: left;
    line-height: 2.4;
    margin: 0 0 1.2em 0;
}

sr-rd-content {
    font-size: 1.6rem;
    line-height: 1.6;
}

sr-rd-content p,
sr-rd-content div {
    display: block;
    float: inherit;
    line-height: 1.6;
    font-size: 1.6rem;
}

sr-rd-content p,
sr-rd-content div,
sr-rd-content pre,
sr-rd-content sr-blockquote {
    margin: 0 0 1.2em 0;
    word-break: break-word;
    /*
    word-wrap: break-word;
    white-space: pre-wrap;
    */
}

sr-rd-content a {
    padding: 0 5px;
    vertical-align: initial;
}

sr-rd-content a, sr-rd-content a:link {
    color: inherit;
    font-size: initial;
    font-weight: inherit;
    border:none;
}

sr-rd-content a:hover {
    background: transparent;
}

sr-rd-content img {
    margin: 10px;
    padding: 5px;
    background: #fff;
    border: 1px solid #bbb;
    box-shadow: 1px 1px 3px #d4d4d4;
}

sr-rd-content sr-blockquote {
    display: block;
    position: relative;
    padding: 15px 25px;
    text-align: left;
    line-height: inherit;
}

sr-rd-content sr-blockquote:before {
    position: absolute;
}

sr-rd-content sr-blockquote * {
    margin: 0;
    font-size: inherit;
}

sr-rd-content table {
    width: 100%;
    margin: 0 0 1.2em 0;
    word-break: keep-all;
    word-break:normal;
    overflow: auto;
    border: none;
}

sr-rd-content table th, sr-rd-content table td {
    border: none;
}

sr-rd-content ul, sr-rd-content ol {
    margin: 0;
    padding: 0;
}

sr-rd-content ul {
    margin: 0 0 1.2em 0;
    margin-left: 1.3em;
    padding: 0;
    list-style: disc;
}

sr-rd-content ol {
    list-style: decimal;
    margin-left: 1.3em;
}

sr-rd-content ul li, sr-rd-content ol li {
    font-size: inherit;
    list-style: disc;
    margin: 0 0 1.2em 0;
}

sr-rd-content ul li *, sr-rd-content ol li * {
    margin: 0;
    text-align: initial;
}

sr-rd-content li ul, sr-rd-content li ol {
    margin-bottom: 0.8em;
    margin-left: 2em;
}

sr-rd-content li ul {
    list-style: circle;
}

sr-rd-content pre {
    font-family: Consolas, Monaco, 'Andale Mono', "Source Code Pro", "Liberation Mono", Courier, monospace;

    display: block;

    padding: 15px;

    font-size: 1.1rem;
    line-height: 1.5;

    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;

    overflow: auto;
}

sr-rd-content pre div {
    font-size: 1.1rem;
}

sr-rd-content pre * {
    font-size: 1.1rem;
}

sr-rd-content pre,
sr-rd-content li pre code,
sr-rd-content p pre code {
    background-color: transparent;
    border: none;
}

sr-rd-content pre code {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

sr-rd-content pre code * {
    font-size: 1.1rem;
}

sr-rd-content pre p {
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

sr-rd-content li code,
sr-rd-content p code {
    margin: 0 4px;
    padding: 2px 4px;
    font-size: 1.1rem;
}

.sr-rd-content-img {
    width: 90%;
    height: auto;
}

.sr-rd-content-img-load {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    border-style: none;
    border-width: 0;
    background-repeat: no-repeat;
    background-image: url( "../images/loading.gif" );
}

.sr-rd-content-center {
    text-align: center;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
}

.sr-rd-content-center-small {
    display: inline-flex;
}

.sr-rd-content-center-small img {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
}

.sr-rd-content-nobeautify {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: 0 0 0;
}

sr-rd-mult {
    display: flex;
    flex-direction: row;

    margin: 0 0 16px 0;
    padding: 16px 0 24px;

    width: 100%;
    min-width: 840.72px;

    background-color: #fafafa;

    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
}

sr-rd-mult:hover {
    transition: all 450ms 0ms;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .16);
}

sr-rd-mult sr-rd-mult-content {
    display: flex;
    flex-direction: column;

    padding: 0 16px 0;
    overflow: auto;
}

sr-rd-mult sr-rd-mult-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 15px;
}

sr-rd-mult sr-rd-mult-avatar span {
    display: -webkit-box;

    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    max-width: 75px;

    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

    font-size: 1rem;
}

sr-rd-mult sr-rd-mult-avatar img {
    margin-bottom: 0;

    max-width: 50px;
    max-height: 50px;
    width: 50px;
    height: 50px;

    border-radius: 50%;
}

sr-rd-mult sr-rd-mult-avatar .sr-rd-content-center {
    margin: 0;
}

sr-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}