sr-rd-theme-dark{display:none;}

/**
 * Dark style
 */

/**
 * Common style, include: h1 ~ h6; ol ul; code pre; table; sr-blockquote
 */

sr-rd-content h1,sr-rd-content h2,sr-rd-content h3,sr-rd-content h4,sr-rd-content h5,sr-rd-content h6 {font-weight: bold;color: #dbdbfd;} sr-rd-content h1{font-size:2rem}sr-rd-content h2{font-size:1.6rem}sr-rd-content h3{font-size:1.3rem}sr-rd-content h4,sr-rd-content h5,sr-rd-content h6{color:#549ad8}sr-rd-content h5{font-size:1.1rem}sr-rd-content h6{font-size:1rem}
sr-rd-content strong {color: #ffffc5;} sr-rd-content em {color: #c885f5;}
sr-rd-content table{width:100%;line-height:1.6rem;border-collapse:collapse;border-spacing:0;empty-cells:show;border:1px solid #cbcbcb}sr-rd-content thead{background-color:#263238;color:#f5f5f5;text-align:left;vertical-align:bottom}sr-rd-content td,sr-rd-content th{border-left:1px solid #cbcbcb;border-width:0 0 0 1px;margin:0;overflow:visible;padding:.5em 1em}
sr-rd-content pre,sr-rd-content pre code{font-size:.9rem;text-align:left}sr-rd-content p code,sr-rd-content li code{color:#caca16;text-align:left;font-size:.9em}
sr-blockquote{
    background-color: rgba(128, 128, 128, 0.05);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 20px;
    border-left: 8px solid #979797;
    color: rgb(235, 235, 235);
}

/**
 * Custom style, include: background; title; desc; sr-rd-content; p,div; a; pre
 */

.sr-rd-theme-bg {
    font-size: 16px;
    color: rgb(235, 235, 235);
    background: rgb(34, 34, 34);
}

sr-rd-title {
    padding-bottom: .3em;
    margin: 1em 0px 0.5em;
    font-size: 2.25em;
    font-weight: bold;
    line-height: 1.2;
    color: #dbdbfd;
    border-bottom: 1px solid #eee;
}

sr-rd-desc {
    background-color: rgba(128, 128, 128, 0.05);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 20px;
    border-left: 8px solid #979797;
}

sr-rd-content {
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(235, 235, 235);
}

sr-rd-content *,
sr-rd-content p,
sr-rd-content div {
    line-height: 1.5;
    font-size: 1rem;
}

sr-rd-content a,
sr-rd-content a:link {
    color: #8ac9ff;
}

sr-rd-content a:hover,
sr-rd-content a:focus,
sr-rd-content a:active {
    background-color: #2a6496;
    color: white;
    text-decoration: none;
}

sr-rd-content pre {
    background-color: #263238;
    color: #e9eded;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
}
